<footer>
    <div id="FooterMenulerAlani">
        <div id="FooterMenulerSinirlamaAlani">
            <div class="FooterMenuleriSutunlarAlani">
                <div class="FooterMenuleriSutunlariBaslİkAlani">Kurumsal</div>
                    <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/hakkimizda" target="_top">Hakkımızda</a></div>
                    <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/bankaHesap" target="_top">Banka Hesaplarımız</a></div>
                    <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/havaleBilForm" target="_top">Havale Bildirim Formu</a></div>
                    <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/isOrtaklar" target="_top">iş Ortaklarımız</a></div>
                    <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/ortakForm" target="_top">iş Ortaklığı Başvuru Formu</a></div>
               </div>

         <div class="FooterMenuleriSutunlarAlani">
                <div class="FooterMenuleriSutunlariBaslİkAlani">Üyelik & Hizmetler</div>
             <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır >>>>>> -->
             
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/hesabim" target="_top">Hesabım</a></div>
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/cikis" target="_top">Çıkış</a></div>
            
            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır <<<<< -->

            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdır >>>>>> -->
               <!--
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Giris-Yap.html" target="_top">Giriş Yap</a></div>
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Uye-Ol.html" target="_top">Üye Ol</a></div>
                 -->
            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdıR <<<<< -->
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/sss" target="_top">Sık Sorulan Sorular</a></div>
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/kargomNerede" target="_top">Kargom Nerede</a></div>
            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/iletisim" target="_top">İletişim</a></div>
        </div>

                <div class="FooterMenuleriSutunlarAlani">
                    <div class="FooterMenuleriSutunlariBaslİkAlani">Sözleşlemer</div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/ueyelikSoezlesme" target="_top">Üyelik Sözleşmesi</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/bayilikSoezlesme" target="_top">Bayilik Sözleşmesi</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/kullanimKosullari" target="_top">Kullanım Koşulları</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/gizlilikGuevenlik" target="_top">Gizlilik Ve Güvenlik</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/mesafeliSatisS" target="_top">Mesafeli Satış Sözleşmesi</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/teslimat" target="_top">Teslimat</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/iptalDegisim" target="_top">İptal & İade & Değişim</a></div>
                   </div>

                   <div class="FooterMenuleriSutunlarAlani">
                    <div class="FooterMenuleriSutunlariBaslİkAlani">Bizi Takip Edin</div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="" target="_top"><img src="/images/Facebook.png" alt="" title="">Facebook</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="https://www.instagram.com/vecii.hii/" target="_top"><img src="/images/instagram.png" alt="" title="">Instagram</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/" target="_top"><img src="/images/twitter.png" alt="" title="">Twitter</a></div>
                   </div>
        </div>
    </div>
    <div id="FooterAltmetniAlani">
        <div id="FooterAltmetniSinirlamaAlani">copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.</div>
    </div>
       
        <div id="FooterAltLogolarAlani">
           <div id="FooterAltLogolarSinirlamaAlani">
            <div id="FooterAltssllogosuAlani"><img src="/images/odeme/ssl.png" alt="" title=""></div>
            <div id="FooterAlt3dlogosuAlani"><img src="/images/odeme/3d.png" alt="" title=""></div>
            <div id="FooterAltbonuslogosuAlani"><img src="/images/odeme/bonus.png" alt="" title=""></div>
            <div id="FooterAltmaxımumlogosuAlani"><img src="/images/odeme/maxımum.png" alt="" title=""></div>
            <div id="FooterAltworldlogosuAlani"><img src="/images/odeme/world.png" alt="" title=""></div>
            <div id="FooterAltfınancelogosuAlani"><img src="/images/odeme/fınance.png" alt="" title=""></div>
            <div id="FooterAltaxesslogosuAlani"><img src="/images/odeme/axess.png" alt="" title=""></div>
            <div id="FooterAltparafflogosuAlani"><img src="/images/odeme/paraf.png" alt="" title=""></div>
            <div id="FooterAltvisalogosuAlani"><img src="/images/odeme/vısa.png" alt="" title=""></div>
            <div id="FooterAltmasterlogosuAlani"><img src="/images/odeme/master.png" alt="" title=""></div>
            <div id="FooterAltamericanlogosuAlani"><img src="/images/odeme/amerıcan.png" alt="" title=""></div>
            <div id="FooterAltturktelekomlogosuAlani"><img src="/images/odeme/turktelekom.png" alt="" title=""></div>
            <div id="FooterAltturkcellogosuAlani"><img src="/images/odeme/turkcell.png" alt="" title=""></div>
            <div id="FooterAltvodafonelogosuAlani"><img src="/images/odeme/vodafone.png" alt="" title=""></div>
            <div id="FooterAlwirelogosuAlani"><img src="/images/odeme/wirecard.png" alt="" title=""></div>
        </div>
    </div>
        
</footer>