<div id="TamSayfaSolSutunSinirlamaAlani">
    <div id="TamSayfaSolSutunIcMenuAlani">
        <div id="TamSayfaSolSutunIcMenuAlaniUstMenuBasligi">
            <a href="/erkekGiyim" target="_top"> Erkek Giyim (17) </a>
        </div>

        <div id="TamSayfaSolSutunIcMenuAlaniAltKategoriOkuVeMenuBasligi">
            <img src="/images/arrow-right.png" alt="" title=""><span class="TamSayfaSolSutunIcMenuAlaniMenuBasligi"><a
                    href="/erkekGiyim" target="_top">Tüm
                    Ürünler</a></span>
        </div>

        <div id="TamSayfaSolSutunIcMenuSecenekleriKapsayiciAlan">
            <ul id="TamSayfaSolSutunIcMenuSeceneklerialani">
                <li class="TamSayfaSolSutunIcMenuSecenekleri">
                    <img src="/images/arrow 11x8.png" alt="" title=""><a href="/erkekGiyim" target="_top">
                        <a href="/erkekGiyim/tshirt" target="_top"> Baskı T-Shirtler</a>
                </li>
                <li class="TamSayfaSolSutunIcMenuSecenekleri">
                    <img src="/images/arrow 11x8.png" alt="" title=""><a href="/erkekGiyim" target="_top">
                        <a href="/erkekGiyim/sapka" target="_top"> Şapkalar</a>
                </li>
                <li class="TamSayfaSolSutunIcMenuSecenekleri">
                    <img src="/images/arrow 11x8.png" alt="" title=""><a href="/erkekGiyim" target="_top">
                        <a href="/erkekGiyim/canta" target="_top"> Çantalar</a>
                </li>
                <li class="TamSayfaSolSutunIcMenuSecenekleri">
                    <img src="/images/arrow 11x8.png" alt="" title=""><a href="/erkekGiyim" target="_top">
                        <a href="/erkekGiyim/sues" target="_top"> Süs Eşyaları</a>
                </li>
            </ul>
        </div>
    </div>
</div>