<header>
    <div id="HeaderAlani">
        <div id="HeaderMesajAlani">
            <img id="bir" src="/images/enn1.png" alt="0" title="">
            <img id="iki" src="/images/enn2.png" alt="0" title="">
            <img id="uc" src="/images/enn3.png" alt="0" title="">
            <img id="dort" src="/images/enn4.png" alt="0" title="">
            <img id="bes" src="/images/enn5.png" alt="0" title="">
        </div>

        <div id="HeaderMenuAlani">
            <div id="HeaderMenuUstuAlani">
                <div id="HeaderMenuUstuSinirlamaAlani">
                    <ul id="HeaderMenuUstuSeceneklerAlani">
                        <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır >>>>>> -->
                        <!--
                        <li class="HeaderMenuUstuSecenekleri"><a href="Hesabim.html" target="_top"><img src="/images/Hesabım.png" border="0" alt="" title=""></a></li>
                        <li class="HeaderMenuUstuSecenekleri"><a href="Hesabim.html" target="_top">Hesabım</a></li>
                        <li class="HeaderMenuUstuSecenekleri"><a href="Cikis.html" target="_top"><img src="/images/Cikis.png"  border="0" alt="" title=""  ></a></li>
                        <li class="HeaderMenuUstuSecenekleri"><a href="Cikis.html" target="_top">Çıkış</a></li>
                        <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top"><img src="/images/AlisverisSepeti.png"  border="0" alt="" title=""  ></a></li>
                        <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top">Alışveriş Sepeti</a></li>
                         -->
                        <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır <<<<< -->
                        <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdır >>>>>> -->
                        <% if(currentUser) { %>
                            <li class="HeaderMenuUstuSecenekleri">
                                <a href="/" target="_top">
                                    <img src="/images/Hesabım.png" alt="" title="" style="vertical-align: middle;">
                                    <%=currentUser.isim%>
                                </a>
                            </li>


                            <li class="HeaderMenuUstuSecenekleri">
                                <a href="Alisveris-Sepeti.html" target=" _top">
                                    <img src="/images/AlisverisSepeti.png" alt="" title=""
                                        style="vertical-align: middle;">Alışveriş
                                    Sepeti</a>
                            </li>

                            <li class="HeaderMenuUstuSecenekleri">
                                <a href="/cikis" target=" _top">
                                    <img src="/images/Cikis.png" alt="" title=""
                                        style="vertical-align: middle;">Çıkış</a>
                            </li>
                            <% } else { %>

                                <li class="HeaderMenuUstuSecenekleri">
                                    <a href="/girisYap" target="_top">
                                        <img src="/images/Hesabım.png" alt="" title=""
                                            style="vertical-align: middle;">Giriş
                                        Yap
                                    </a>
                                </li>

                                <li class="HeaderMenuUstuSecenekleri">
                                    <a href="/ueyeOl" target=" _top">
                                        <img src="/images/UyeOl.png" alt="" title="" style="vertical-align: middle;">Üye
                                        Ol
                                    </a>
                                </li>

                                <li class="HeaderMenuUstuSecenekleri">
                                    <a href="Alisveris-Sepeti.html" target=" _top">
                                        <img src="/images/AlisverisSepeti.png" alt="" title=""
                                            style="vertical-align: middle;">Alışveriş
                                        Sepeti</a>
                                </li>
                                <% } %>

                                    <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdıR <<<<< -->
                    </ul>
                </div>
            </div>

            <div id="HeaderMenuSinirlandirmaAlani">
                <div id="HeaderMenuLogoAlani">
                    <a href="/" target="_top"><img id="logobir" src="/images/logo.png" alt="" title=""></a>
                </div>
                <div id="HeaderMenuNavAlani">
                    <nav id="HeaderMenuNav">
                        <ul id="HeaderMenuSeceneklerAlani">
                            <li class="HeaderMenuSecenekleri"><a href="/" target="_top">Ana Sayfa</a></li>
                            <li class="HeaderMenuSecenekleri"><a href="/erkekGiyim" target="_top">Erkek Giyim</a></li>
                            <li class="HeaderMenuSecenekleri"><a href="/kadinGiyim" target="_top">Kadın Giyim</a></li>
                            <li class="HeaderMenuSecenekleri"><a href="/vintageUeruenler" target="_top">Vintage
                                    Ürünler</a></li>
                        </ul>
                    </nav>
                </div>

                <div id="HeaderMenuAcmaButonAlani">
                    <img src="/images/menu-bar (1).png" alt="" title="">
                </div>
            </div>
        </div>

        <div id="HeaderMenuAcmaButonuMenuSinirlandirmaAlanİ" style="display: none;">
            <div id="HeaderMenuAcmaButonuMenu">
                <ul id="HeaderMenuAcmaButonuMenuSeceneklerAlani">
                    <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="/" target="_top">Ana Sayfa</a></li>
                    <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="/erkekGiyim" target="_top">Erkek Giyim</a>
                    </li>
                    <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="/kadinGiyim" target="_top">Kadın Giyim</a>
                    </li>
                    <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="/vintageUeruenler" target="_top">Vintage
                            Ürünler</a></li>
                </ul>
            </div>
        </div>

    </div>
</header>