<!doctype html>
<html lang="tr-TR">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="tr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Competible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link type="image/png" rel="icon" sizes="93x93" href="/images/favicon.png">
    <meta name="robots" content="index, follow, noarchive">
    <meta name="revisit-after" content="7 days">
    <meta name="rating" content="general">
    <meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
    <meta name="reply-to" content="info@vecihistore.com">
    <meta name="author" content="Eren Akkurt - info@vecihistore.com">
    <meta name="designer" content="Eren Akkurt - Vecihi Store">
    <meta name="generator" content="Microsoft Visual Studio">
    <meta name="description"
        content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
    <meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
    <script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/java.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <title>Vecihi Store</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stars.css">
</head>

<body>
    <div id="TumSayfaAlani">
        <%- include('../partials/navbar')%>
            <main>
                <%- include('../partials/flash')%>

                    <%- body %>
            </main>

            <%- include('../partials/footer')%>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cesitDropDown1 = document.getElementById('cesitDropDown1');
            const cesitDropDown2 = document.getElementById('cesitDropDown2');
            const flexCheckDefault1 = document.getElementById('flexCheckDefault1');
            const flexCheckDefault2 = document.getElementById('flexCheckDefault2');
            const flexCheckDefault3 = document.getElementById('flexCheckDefault3');
            const flexCheckDefault4 = document.getElementById('flexCheckDefault4');
            const flexCheckDefault5 = document.getElementById('flexCheckDefault5');
            const flexCheckDefault6 = document.getElementById('flexCheckDefault6');
            const flexCheckDefault7 = document.getElementById('flexCheckDefault7');
            const flexCheckDefault8 = document.getElementById('flexCheckDefault8');
            const flexCheckDefault9 = document.getElementById('flexCheckDefault9');
            const flexCheckDefault10 = document.getElementById('flexCheckDefault10');
            const flexCheckDefault11 = document.getElementById('flexCheckDefault11');
            const radioLabel = document.getElementById('radioLabel');
            const checkboxes = document.querySelectorAll('.form-check-input');
            const submitButton = document.getElementById('submitButton');
            const cesit = cesitDropDown2.getAttribute('data-test');


            handleCesitDropDownChange();
            cesitDropDown1.addEventListener('change', handleCesitDropDownChange);
            cesitDropDown2.addEventListener('change', handleCesitDropDownChange2);
            submitButton.addEventListener('click', validateCheckboxes);

            function handleCesitDropDownChange2() {
                enableAllCheckboxes();
                if (cesitDropDown2.value === 'canta') {
                    disableSpecificCheckboxes();
                }
            }

            function handleCesitDropDownChange() {
                cesitDropDown2.innerHTML = '';

                if (cesitDropDown1.value === 'erkekGiyim' || cesitDropDown1.value === 'kadinGiyim' || cesitDropDown1.value === 'unisexGiyim') {
                    const option1 = document.createElement('option');
                    option1.value = 'tshirt';
                    option1.textContent = 'Tshirt';
                    const option2 = document.createElement('option');
                    option2.value = 'sapka';
                    option2.textContent = 'Şapka';
                    const option3 = document.createElement('option');
                    option3.value = 'canta';
                    option3.textContent = 'Çanta';

                    cesitDropDown2.appendChild(option1);
                    cesitDropDown2.appendChild(option2);
                    cesitDropDown2.appendChild(option3);

                    if (cesit) {
                        for (let i = 0; i < cesitDropDown2.options.length; i++) {
                            if (cesitDropDown2.options[i].value === cesit) {
                                cesitDropDown2.options[i].selected = true;
                                break;
                            }
                        }
                    }

                    enableAllCheckboxes();



                } else if (cesitDropDown1.value === 'vintageUeruenler') {
                    const option1 = document.createElement('option');
                    option1.value = 'anahtarlik';
                    option1.textContent = 'Anahtarlık';
                    const option2 = document.createElement('option');
                    option2.value = 'ahsapueruenler';
                    option2.textContent = 'Ahşap Ürünler';
                    const option3 = document.createElement('option');
                    option3.value = 'suesueruen';
                    option3.textContent = 'Süs Ürünleri';

                    cesitDropDown2.appendChild(option1);
                    cesitDropDown2.appendChild(option2);
                    cesitDropDown2.appendChild(option3);


                    if (cesit) {
                        for (let i = 0; i < cesitDropDown2.options.length; i++) {
                            if (cesitDropDown2.options[i].value === cesit) {
                                cesitDropDown2.options[i].selected = true;
                                break;
                            }
                        }
                    }


                    disableAllCheckboxes();
                }
            }

            function validateCheckboxes(event) {
                let atLeastOneSelected = false;
                checkboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        atLeastOneSelected = true;
                    }
                });

                if (!atLeastOneSelected && flexCheckDefault1.disabled == false) {
                    event.preventDefault();
                    alert('Lütfen boyut seçeneklerden en az bir tanesini seçin');
                }
            }

            function enableAllCheckboxes() {
                checkboxes.forEach(checkbox => {
                    checkbox.disabled = false;
                });
            }

            function disableAllCheckboxes() {
                checkboxes.forEach(checkbox => {
                    checkbox.disabled = true;
                });
            }

            function disableSpecificCheckboxes() {
                flexCheckDefault1.disabled = true;
                flexCheckDefault2.disabled = true;
                flexCheckDefault3.disabled = true;
                flexCheckDefault4.disabled = true;
            }
        });
    </script>

    <script>
        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });

        function formatCurrency(input, blur) {
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position 
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(",") >= 0) {

                var decimal_pos = input_val.indexOf(",");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos + 1);

                if (blur === "blur") {
                    right_side += "00";
                }

                right_side = right_side.substring(0, 2);

                input_val = left_side + "." + right_side;

            } else {
                input_val = input_val;
            }
            input.val(input_val);
        }
    </script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const urunlerDivs = document.querySelectorAll('.TamSayfaCerceveAlaniİciAlisverisSepetiSayfasiUrunlerAlani');
            const urunlerAnzahl = urunlerDivs.length;
            const removeForm = document.getElementById('removeForm');
            const toplamFiyat = document.getElementById('toplamFiyat');
            const ueruenToplamHTML = document.getElementById('ueruenToplam');
            const kdvToplamHTML = document.getElementById('kdvToplam');


            let gesamtpreis = 0;
            let ueruenToplam = 0;
            let kdv = 0;
            const produkteInformationen = [];

            for (let i = 1; i <= urunlerAnzahl; i++) {
                const decreaseButtonID = 'decreaseButton' + i;
                const increaseButtonID = 'increaseButton' + i;
                const removeButtonID = 'removeButton' + i;
                const removeFormID = 'removeForm' + i;
                const ueruenFiyatID = 'ueruenFiyat' + i;
                const ueruenID = 'ueruenID' + i;
                const decreaseButton = document.getElementById(decreaseButtonID);
                const increaseButton = document.getElementById(increaseButtonID);
                const removeButton = document.getElementById(removeButtonID);
                const removeForm = document.getElementById(removeFormID);
                const quantityElement = document.getElementById('quantity' + i);
                const ueruenFiyat = document.getElementById(ueruenFiyatID);
                const ueruen = document.getElementById(ueruenID);


                let quantity = 1;

                ueruenToplam = ueruenToplam + parseFloat(ueruenFiyat.textContent);
                kdv = ueruenToplam * 0.2;
                gesamtpreis = ueruenToplam + kdv;
                toplamFiyat.textContent = gesamtpreis.toFixed(2) + ' TL';
                ueruenToplamHTML.textContent = ueruenToplam.toFixed(2) + ' TL';
                kdvToplamHTML.textContent = kdv.toFixed(2) + ' TL';

                let produktInfo = {
                    ueruenID: ueruen.value,
                    quantity: quantityElement.textContent,
                    gesamtpreis: parseFloat(toplamFiyat.textContent).toFixed(2),
                    ueruenToplam: parseFloat(ueruenToplam).toFixed(2),
                    kdv: parseFloat(kdv).toFixed(2),
                }

                decreaseButton.addEventListener('click', () => {
                    if (quantity > 1) {
                        quantity--;
                        quantityElement.textContent = quantity;
                        ueruenToplam = ueruenToplam - parseFloat(ueruenFiyat.textContent);
                        ueruenToplamHTML.textContent = ueruenToplam.toFixed(2) + ' TL';
                        kdv = ueruenToplam * 0.2;
                        kdvToplamHTML.textContent = kdv.toFixed(2) + ' TL';
                        gesamtpreis = ueruenToplam + kdv;
                        toplamFiyat.textContent = gesamtpreis.toFixed(2) + ' TL';
                        //Ürün bilgileri güncelle
                        produktInfo.quantity = quantityElement.textContent;
                        produktInfo.gesamtpreis = gesamtpreis.toFixed(2);
                        produktInfo.ueruenToplam = ueruenToplam.toFixed(2);
                        produktInfo.kdv = kdv.toFixed(2);
                    }
                });

                increaseButton.addEventListener('click', () => {
                    quantity++;
                    quantityElement.textContent = quantity;
                    ueruenToplam = ueruenToplam + parseFloat(ueruenFiyat.textContent);
                    ueruenToplamHTML.textContent = ueruenToplam.toFixed(2) + ' TL';
                    kdv = ueruenToplam * 0.2;
                    kdvToplamHTML.textContent = kdv.toFixed(2) + ' TL';
                    gesamtpreis = ueruenToplam + kdv;
                    toplamFiyat.textContent = gesamtpreis.toFixed(2) + ' TL';
                    //Ürün bilgileri güncelle
                    produktInfo.quantity = quantityElement.textContent;
                    produktInfo.gesamtpreis = gesamtpreis.toFixed(2);
                    produktInfo.ueruenToplam = ueruenToplam.toFixed(2);
                    produktInfo.kdv = kdv.toFixed(2);
                });

                removeButton.addEventListener('click', () => {
                    removeForm.submit();
                    //Ürün bilgileri Array den sil
                    const index = produkteInformationen.findIndex(info => info.ueruenID === produktInfo.ueruenID);
                    if (index > -1) {
                        produkteInformationen.splice(index, 1);
                    }
                });

                produkteInformationen.push(produktInfo);
            }

            window.submitForm = function () {
                //const ueruenlerValue = document.getElementById('ueruenlerInput').value;
                const ueruenlerInputPost = document.getElementById('ueruenlerInputPost');
                const ueruenInformationlar = document.getElementById('ueruenInformationlar');
                ueruenInformationlar.value = JSON.stringify(produkteInformationen);
                //ueruenlerInputPost.value = ueruenlerValue;
                const meinFormular = document.getElementById('meinFormular');
                meinFormular.submit();

            }
        });
    </script>
    <script>
        window.submitFaturaForm = function () {
            var teslimatChecked = $('input[name="teslimatAdresiSecimi"]:checked').length > 0;
            var faturaChecked = $('input[name="faturaAdresiSecimi"]:checked').length > 0;

            // Wenn keiner ausgewählt wurde, zeige eine Meldung und verhindere das Absenden des Formulars
            if (!teslimatChecked && !faturaChecked) {
                alert('Lütfen teslimat veya fatura adresini seçiniz.');
                return false;
            }

            // Andernfalls submit das Formular
            document.getElementById("alisverisSepeti").submit();
            const alisverisSepetiForm = document.getElementById('alisverisSepeti');
            alisverisSepetiForm.submit();
        }
    </script>
</body>

</html>