<!doctype html>
<html lang="tr-TR">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="tr">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Competible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link type="image/png" rel="icon" sizes="93x93" href="/images/favicon.png">
    <meta name="robots" content="index, follow, noarchive">
    <meta name="revisit-after" content="7 days">
    <meta name="rating" content="general">
    <meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
    <meta name="reply-to" content="info@vecihistore.com">
    <meta name="author" content="Eren Akkurt - info@vecihistore.com">
    <meta name="designer" content="Eren Akkurt - Vecihi Store">
    <meta name="generator" content="Microsoft Visual Studio">
    <meta name="description"
        content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
    <meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
    <script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" language="javascript" src="/js/java.js"></script>
    <title>Vecihi Store</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="TumSayfaAlani">
        <%- include('../partials/navbar')%>
            <main>
                <%- include('../partials/flash')%>

                    <%- body %>
            </main>

            <%- include('../partials/footer')%>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cesitDropDown1 = document.getElementById('cesitDropDown1');
            const cesitDropDown2 = document.getElementById('cesitDropDown2');
            const flexCheckDefault1 = document.getElementById('flexCheckDefault1');
            const flexCheckDefault2 = document.getElementById('flexCheckDefault2');
            const flexCheckDefault3 = document.getElementById('flexCheckDefault3');
            const flexCheckDefault4 = document.getElementById('flexCheckDefault4');
            const radioLabel = document.getElementById('radioLabel');
            const checkboxes = document.querySelectorAll('.form-check-input');
            const submitButton = document.getElementById('submitButton');
            const cesit = cesitDropDown2.getAttribute('data-test');

            handleCesitDropDownChange();
            cesitDropDown1.addEventListener('change', handleCesitDropDownChange);
            submitButton.addEventListener('click', validateCheckboxes);

            function handleCesitDropDownChange() {

                cesitDropDown2.innerHTML = '';

                if (cesitDropDown1.value === 'erkekGiyim' || cesitDropDown1.value === 'kadinGiyim' || cesitDropDown1.value === 'unisexGiyim') {

                    const option1 = document.createElement('option');
                    option1.value = 'tshirt';
                    option1.textContent = 'Tshirt';
                    const option2 = document.createElement('option');
                    option2.value = 'sapka';
                    option2.textContent = 'Şapka';
                    const option3 = document.createElement('option');
                    option3.value = 'canta';
                    option3.textContent = 'Çanta';


                    cesitDropDown2.appendChild(option1);
                    cesitDropDown2.appendChild(option2);
                    cesitDropDown2.appendChild(option3);

                    if (cesit) {
                        for (let i = 0; i < cesitDropDown2.options.length; i++) {
                            if (cesitDropDown2.options[i].value === cesit) {
                                cesitDropDown2.options[i].selected = true;
                                break;
                            }
                        }
                    }

                    flexCheckDefault1.disabled = false;
                    flexCheckDefault2.disabled = false;
                    flexCheckDefault3.disabled = false;
                    flexCheckDefault4.disabled = false;

                } else if (cesitDropDown1.value === 'vintageUeruenler') {

                    const option1 = document.createElement('option');
                    option1.value = 'anahtarlik';
                    option1.textContent = 'Anahtarlık';
                    const option2 = document.createElement('option');
                    option2.value = 'ahsapueruenler';
                    option2.textContent = 'Ahşap Ürünler';
                    const option3 = document.createElement('option');
                    option3.value = 'suesueruen';
                    option3.textContent = 'Süs Ürünleri';

                    cesitDropDown2.appendChild(option1);
                    cesitDropDown2.appendChild(option2);
                    cesitDropDown2.appendChild(option3);

                    if (cesit) {
                        for (let i = 0; i < cesitDropDown2.options.length; i++) {
                            if (cesitDropDown2.options[i].value === cesit) {
                                cesitDropDown2.options[i].selected = true;
                                break;
                            }
                        }
                    }

                    flexCheckDefault1.disabled = true;
                    flexCheckDefault2.disabled = true;
                    flexCheckDefault3.disabled = true;
                    flexCheckDefault4.disabled = true;
                }
            }
            function validateCheckboxes(event) {
                let atLeastOneSelected = false;
                checkboxes.forEach(checkbox => {
                    if (checkbox.checked) {
                        atLeastOneSelected = true;
                    }
                });

                if (!atLeastOneSelected && flexCheckDefault1.disabled == false) {
                    event.preventDefault();
                    alert('Lütfen boyut seceneklerden minimum bir tane secin');
                }
            }
        });
    </script>
    <script>
        $("input[data-type='currency']").on({
            keyup: function () {
                formatCurrency($(this));
            },
            blur: function () {
                formatCurrency($(this), "blur");
            }
        });

        function formatCurrency(input, blur) {
            var input_val = input.val();

            // don't validate empty input
            if (input_val === "") { return; }

            // original length
            var original_len = input_val.length;

            // initial caret position 
            var caret_pos = input.prop("selectionStart");

            // check for decimal
            if (input_val.indexOf(",") >= 0) {

                var decimal_pos = input_val.indexOf(",");

                // split number by decimal point
                var left_side = input_val.substring(0, decimal_pos);
                var right_side = input_val.substring(decimal_pos + 1);

                if (blur === "blur") {
                    right_side += "00";
                }

                right_side = right_side.substring(0, 2);

                input_val = left_side + "." + right_side;

            } else {
                input_val = input_val;
            }
            input.val(input_val);
        }



    </script>
</body>

</html>