<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="foto/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="Framework/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="Ayarlar/style.css">
<script type="text/javascript" language="javascript" src="Ayarlar/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">
    <header>
        <div id="HeaderAlani">
            <div id="HeaderMesajAlani"> 
             <img id="bir" src="foto/enn1.png"  alt="0" title="">
             <img id="iki" src="foto/enn2.png"   alt="0" title="">
             <img id="uc" src="foto/enn3.png"   alt="0" title="">
             <img id="dort" src="foto/enn4.png"   alt="0" title="">
             <img id="bes" src="foto/enn5.png"   alt="0" title="">
         </div>
        
         <div id="HeaderMenuAlani">
            <div id="HeaderMenuUstuAlani">
                <div id="HeaderMenuUstuSinirlamaAlani">
                    <ul id="HeaderMenuUstuSeceneklerAlani">
                            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır >>>>>> -->
                            <!--
                            <li class="HeaderMenuUstuSecenekleri"><a href="Hesabim.html" target="_top"><img src="foto/Hesabım.png" border="0" alt="" title=""></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Hesabim.html" target="_top">Hesabım</a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Cikis.html" target="_top"><img src="foto/Cikis.png"  border="0" alt="" title=""  ></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Cikis.html" target="_top">Çıkış</a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top"><img src="foto/AlisverisSepeti.png"  border="0" alt="" title=""  ></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top">Alışveriş Sepeti</a></li>
                             -->
                            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır <<<<< -->
                            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdır >>>>>> -->
                            <li class="HeaderMenuUstuSecenekleri"><a href="Giris-Yap.html" target="_top"><img src="foto/Hesabım.png" alt="" title=""></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Giris-Yap.html" target="_top">Giriş Yap</li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Uye-Ol.html" target="_top"><img src="foto/UyeOl.png"   alt="" title=""  ></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Uye-Ol.html" target="_top">Üye Ol</li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top"><img src="foto/AlisverisSepeti.png"   alt="" title=""  ></a></li>
                            <li class="HeaderMenuUstuSecenekleri"><a href="Alisveris-Sepeti.html" target="_top">Alışveriş Sepeti</a></li>
                            <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdıR <<<<< -->
                    </ul>
                </div>
            </div>
              
            <div id="HeaderMenuSinirlandirmaAlani">
                <div id="HeaderMenuLogoAlani">
                    <a href="index.html" target="_top"><img id="logobir" src="foto/logo.png" alt="" title=""></a>
               </div>
            <div id="HeaderMenuNavAlani">
                <nav id="HeaderMenuNav">
                  <ul id="HeaderMenuSeceneklerAlani">
                    <li class="HeaderMenuSecenekleri"><a href="index.html" target="_top">Ana Sayfa</a></li>
                    <li class="HeaderMenuSecenekleri"><a href="Erkek-Giyim.html" target="_top">Erkek Giyim</a></li>
                    <li class="HeaderMenuSecenekleri"><a href="Kadin-Giyim.html" target="_top">Kadın Giyim</a></li>
                    <li class="HeaderMenuSecenekleri"><a href="Vintage-Urunler.html" target="_top">Vintage Ürünler</a></li>
                  </ul>
                </nav>
            </div> 

            <div id="HeaderMenuAcmaButonAlani">
                <img src="foto/menu-bar (1).png" alt="" title="">
            </div>            
         </div>
        </div>
            
        <div id="HeaderMenuAcmaButonuMenuSinirlandirmaAlanİ" style="display: none;">
            <div id="HeaderMenuAcmaButonuMenu">
                <ul id="HeaderMenuAcmaButonuMenuSeceneklerAlani">
                        <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="index.html" target="_top">Ana Sayfa</a></li>
                        <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="Erkek-Giyim.html" target="_top">Erkek Giyim</a></li>
                        <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="Kadin-Giyim.html" target="_top">Kadın Giyim</a></li>
                        <li class="HeaderMenuAcmaButonuMenuSecenekleri"><a href="Vintage-Urunler.html" target="_top">Vintage Ürünler</a></li>
                </ul>
            </div>
        </div>

         </div>
    </header>
    <main>
       <div id="TamSayfaCerceveAlani">
          <div id="TamSayfaCerceveSinirlamaAlani">
             <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Alışveriş Sepeti</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                       Alışveriş sepetine eklemiş olduğunuz  herhangi bir ürün bulunmamaktadır.</div>
                    </div>

                    <div id="TamSayfaCerceveAlaniİciBosVerilerİcinBilgiAlani"> 
                        <div id="TamSayfaCerceveAlaniİciBosVerilerİcinIslemIconuAlani"> 
                            <img src="foto/empty-cart.png" alt="" title="">
                        </div>
                    <div id="TamSayfaCerceveAlaniİciBosVerilerİcinBaslikAlani">
                        Alışveriş Sepetinizde Ürün Bulunmuyor!
                    </div>
                    <div id="TamSayfaCerceveAlaniİciBosVerilerİcinIceriklani">
                        Alışveriş sepetinizde herhangi bir ürün bulunmamaktadır. Sitemizdeki ürünleri inceleyerek, 
                        ihtiyacınız olan ürün veya ürünleri alışveriş sepetinize ekleyerek hemen alışverişe başlayabilirsiniz.
                        Ana sayfaya dönmek için lütfen <a href="index.html" target="_top">buraya tıklayın.</a>
                    </div>
                    </div>

          </div>
        </div>
    </main>
    <footer>
        <div id="FooterMenulerAlani">
            <div id="FooterMenulerSinirlamaAlani">
                <div class="FooterMenuleriSutunlarAlani">
                    <div class="FooterMenuleriSutunlariBaslİkAlani">Kurumsal</div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Hakkimizda.html" target="_top">Hakkımızda</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Banka-Hesaplarimiz.html" target="_top">Banka Hesaplarımız</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Havale-Bildirim-Formu.html" target="_top">Havale Bildirim Formu</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Isortaklarimiz.html" target="_top">iş Ortaklarımız</a></div>
                        <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Isortakligi-Bildirim-Formu.html" target="_top">iş Ortaklığı Başvuru Formu</a></div>
                   </div>

             <div class="FooterMenuleriSutunlarAlani">
                    <div class="FooterMenuleriSutunlariBaslİkAlani">Üyelik & Hizmetler</div>
                 <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır >>>>>> -->
                 
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Hesabim.html" target="_top">Hesabım</a></div>
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Cikis.html" target="_top">Çıkış</a></div>
                
                <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi sonrasında açılmalıdır <<<<< -->

                <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdır >>>>>> -->
                   <!--
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Giris-Yap.html" target="_top">Giriş Yap</a></div>
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Uye-Ol.html" target="_top">Üye Ol</a></div>
                     -->
                <!-- site dinamik hale döndürüldüğünde bu alan kullanıcı girişi YOKSA açılmalıdıR <<<<< -->
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Sss.html" target="_top">Sık Sorulan Sorular</a></div>
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Kargom-Nerede.html" target="_top">Kargom Nerede</a></div>
                <div class="FooterMenuleriSutunlariMenulerAlani"><a href="İletisim.html" target="_top">İletişim</a></div>
            </div>

                    <div class="FooterMenuleriSutunlarAlani">
                        <div class="FooterMenuleriSutunlariBaslİkAlani">Sözleşlemer</div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Uyelik-Sozlesmesi.html" target="_top">Üyelik Sözleşmesi</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Bayilik-Sozlesmesi.html" target="_top">Bayilik Sözleşmesi</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Kullanim-Kosullari.html" target="_top">Kullanım Koşulları</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Gizlilik-Ve-Guvenlik.html" target="_top">Gizlilik Ve Güvenlik</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Mesafeli-Satis-Sözlesmesi.html" target="_top">Mesafeli Satış Sözleşmesi</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Teslimat.html" target="_top">Teslimat</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="Iptal-Iade-Degisim.html" target="_top">İptal & İade & Değişim</a></div>
                       </div>

                       <div class="FooterMenuleriSutunlarAlani">
                        <div class="FooterMenuleriSutunlariBaslİkAlani">Bizi Takip Edin</div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="" target="_top"><img src="foto/Facebook.png" alt="" title="">Facebook</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="https://www.instagram.com/vecii.hii/" target="_top"><img src="foto/instagram.png" alt="" title="">Instagram</a></div>
                            <div class="FooterMenuleriSutunlariMenulerAlani"><a href="/" target="_top"><img src="foto/twitter.png" alt="" title="">Twitter</a></div>
                       </div>
            </div>
        </div>
        <div id="FooterAltmetniAlani">
            <div id="FooterAltmetniSinirlamaAlani">copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.</div>
        </div>
           
            <div id="FooterAltLogolarAlani">
               <div id="FooterAltLogolarSinirlamaAlani">
                <div id="FooterAltssllogosuAlani"><img src="foto/odeme/ssl.png" alt="" title=""></div>
                <div id="FooterAlt3dlogosuAlani"><img src="foto/odeme/3d.png" alt="" title=""></div>
                <div id="FooterAltbonuslogosuAlani"><img src="foto/odeme/bonus.png" alt="" title=""></div>
                <div id="FooterAltmaxımumlogosuAlani"><img src="foto/odeme/maxımum.png" alt="" title=""></div>
                <div id="FooterAltworldlogosuAlani"><img src="foto/odeme/world.png" alt="" title=""></div>
                <div id="FooterAltfınancelogosuAlani"><img src="foto/odeme/fınance.png" alt="" title=""></div>
                <div id="FooterAltaxesslogosuAlani"><img src="foto/odeme/axess.png" alt="" title=""></div>
                <div id="FooterAltparafflogosuAlani"><img src="foto/odeme/paraf.png" alt="" title=""></div>
                <div id="FooterAltvisalogosuAlani"><img src="foto/odeme/vısa.png" alt="" title=""></div>
                <div id="FooterAltmasterlogosuAlani"><img src="foto/odeme/master.png" alt="" title=""></div>
                <div id="FooterAltamericanlogosuAlani"><img src="foto/odeme/amerıcan.png" alt="" title=""></div>
                <div id="FooterAltturktelekomlogosuAlani"><img src="foto/odeme/turktelekom.png" alt="" title=""></div>
                <div id="FooterAltturkcellogosuAlani"><img src="foto/odeme/turkcell.png" alt="" title=""></div>
                <div id="FooterAltvodafonelogosuAlani"><img src="foto/odeme/vodafone.png" alt="" title=""></div>
                <div id="FooterAlwirelogosuAlani"><img src="foto/odeme/wirecard.png" alt="" title=""></div>
            </div>
        </div>
            
    </footer>
   </div>
</body>
</html>