<% layout('layouts/boilerplate') %>

    <div id="TumSayfaAlani">

        <div id="TamSayfaCerceveAlani">
            <div id="TamSayfaCerceveSinirlamaAlani">
                <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                            Alışveriş Sepeti</div>
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                            Alışveriş sepetine eklemiş olduğunuz herhangi bir ürün bulunmamaktadır.</div>
                    </div>

                    <div id="TamSayfaCerceveAlaniİciBosVerilerİcinBilgiAlani">
                        <div id="TamSayfaCerceveAlaniİciBosVerilerİcinIslemIconuAlani">
                            <img src="/images/empty-cart.png" alt="" title="">
                        </div>
                        <div id="TamSayfaCerceveAlaniİciBosVerilerİcinBaslikAlani">
                            Alışveriş Sepetinizde Ürün Bulunmuyor!
                        </div>
                        <div id="TamSayfaCerceveAlaniİciBosVerilerİcinIceriklani">
                            Alışveriş sepetinizde herhangi bir ürün bulunmamaktadır. Sitemizdeki ürünleri inceleyerek,
                            ihtiyacınız olan ürün veya ürünleri alışveriş sepetinize ekleyerek hemen alışverişe
                            başlayabilirsiniz.
                            Ana sayfaya dönmek için lütfen <a href="index.html" target="_top">buraya tıklayın.</a>
                        </div>
                    </div>

                </div>
            </div>