<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Banka Hesaplarımız</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Ödemeleriniz için çalıştığımız bankalar </div>
                </div>

                <div id="TamsayfaCerceveAlaniİciBankaHesaplariAlani">
                    <div id="TamsayfaCerceveAlaniİciBankaHesaplariDengelemeAlani">

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-garanti.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Garanti
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-isbankasi.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">İş
                                            Bankası</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-yapikredi.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Yapı
                                            Kredi</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-akbank.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Akbank
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-denizbank.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Denizbank
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciBankaHesabiSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciBankaHesabiLogosuAlani">
                                <img src="/images/odeme-qnb.png" alt="" title="">
                            </div>
                            <table class="TamsayfaCerceveAlaniİciBankaHesabiTablosu" width="100%" cellspacing="0"
                                cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Banka
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">QNB
                                            Finansbank</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Konum
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Ankara
                                            Türkiye</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Şube</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">
                                            Gaziosmanpaşa</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Birim
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Türk
                                            Lirası (TL)</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Adı</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">Eren
                                            Akkurt</td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">Hesap No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">12123123
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuBaslikMetniSütunu">İban No
                                        </td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuNoktaMetniSütunu">:</td>
                                        <td align="left" valign"top"
                                            class="TamsayfaCerceveAlaniİciBankaHesabiTablosuİcerikMetniSütunu">TR0000
                                            0000 0000 0000 0000 00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>