<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Vecihistore.com Genel Bayilik Sözleşmesi

                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com bayilik sözleşmesi metni aşağıdadır.
                    </div>
                </div>

                <div id="TamSayfaCerceveAlaniİciGenelBilgilendirmeAlani">
                    <div style="height: 350px; overflow-x: hidden; overflow-y: scroll;">

                        Bu sözleşme, Vecihistore.com'un bayilik programı kapsamında, aşağıda belirtilen şartlar ve
                        hükümler çerçevesinde Bayi (Bayilik Sahibi) ile Vecihistore.com arasında yapılan bir anlaşmadır.
                        Lütfen aşağıdaki metni dikkatlice okuyun ve bayilik başvurunuzdan önce kabul ettiğinizden emin
                        olun<br><br>

                        1. Taraflar<br><br>
                        1.1. Vecihistore.com: Vecihistore.com, bu sözleşmenin tarafı olarak, elektronik ticaret
                        platformu olan Vecihistore.com'un işletmecisi olarak anılacaktır.
                        1.2. Bayi (Bayilik Sahibi): Ticari faaliyetlerini kendi ismi altında yürüten ve
                        Vecihistore.com'un bayilik programına katılan gerçek veya tüzel kişi.

                        2. Bayilik Koşulları<br><br>
                        2.1. Bayilik başvurusu, Bayi tarafından Vecihistore.com'a yapılan başvuru formu ile
                        gerçekleştirilir.<br><br>
                        2.2. Vecihistore.com, başvuruyu değerlendirme hakkına sahiptir ve başvuruyu kabul etme veya
                        reddetme konusunda tam yetkiye sahiptir.
                        2.3. Bayi, bayilik sürecinde Vecihistore.com tarafından sağlanan marka, ürün ve hizmetlerin
                        kullanımını kabul eder.2.4.
                        Bayi, Vecihistore.com'un bayilik programının gerekliliklerini yerine getirme konusunda
                        yükümlüdür ve programın sağladığı avantajları kullanırken Vecihistore.com'un belirlediği
                        kurallara uymalıdır.

                        3. Bayilik Hakları ve Sorumluluklar
                        3.1. Bayi, Vecihistore.com tarafından sağlanan ürünleri bayilik süreciyle birlikte satışa sunar
                        ve Vecihistore.com markasını kullanır.
                        3.2. Bayi, Vecihistore.com'un belirlediği satış politikalarına, fiyatlandırma politikalarına ve
                        diğer bayilik koşullarına uygun hareket etmelidir.
                        3.3. Bayi, müşteri memnuniyetini sağlamak için tüm satış işlemlerini profesyonel bir şekilde
                        gerçekleştirmelidir.
                        3.4. Bayi, Vecihistore.com markasını korumak ve güçlendirmek için gereken özeni göstermeli ve
                        marka imajına zarar vermemelidir.<br><br>

                        4. Bayilik İptali<br><br>
                        4.1. Vecihistore.com, bayilik sürecinde Bayi'nin belirlenen kurallara uymaması veya bayilik
                        sözleşmesinin şartlarını ihlal etmesi durumunda bayilik ilişkisini sonlandırma hakkına sahiptir.
                        4.2. Bayi, kendi isteğiyle bayilik ilişkisini sonlandırmak istediğinde sonlandırma hakkına
                        sahiptir.4.2.3. Bayilik ilişkisi sonlandırıldığında, Bayi'nin Vecihistore.com markası, logosu ve
                        diğer tescilli materyalleri kullanma hakkı otomatik olarak sona erer. Bayi, Vecihistore.com
                        markasının ve gizli bilgilerinin kullanımını derhal durdurmalıdır.

                        4.2.4. Bayi, bayilik sürecinin sonlandırılmasından sonra, müşterilere hizmet verme ve
                        Vecihistore.com ile olan işbirliğiyle ilgili herhangi bir beyan veya temsilde bulunmamalıdır.

                        4.2.5. Bayilik sürecinin sonlandırılmasından sonra, Bayi'nin müşteri verileri ve diğer ticari
                        bilgileri Vecihistore.com tarafından gizli tutulacak ve bayilik sürecinin sona ermesinden önceki
                        yükümlülükler devam edecektir.

                        Bu şekilde Bayi, kendi isteğiyle bayilik ilişkisini sonlandırabilir. Vecihistore.com, bayilik
                        sürecinin sona ermesinden sonra Bayi'nin haklarını ve gizli bilgilerini koruma sorumluluğuna
                        sahiptir.
                    </div>
                </div>



            </div>
        </div>
    </div>