<% layout('layouts/boilerplate') %>

    <div id="SonucSayfalariAlani">
        <div id="SonucSayfalariSinirlamaAlani">
            <div id="SonucSayfalariBilgiAlani">
                <div id="SonucSayfalariIslemIconuAlani">
                    <img src="/images/Error.png" alt="" title="">
                </div>
                <div id="SonucSayfalariBaslikAlani">
                    İşlem sırasında beklenmedik bir hata oluştu!
                </div>
                <div id="SonucSayfalariIcerikAlani">
                    Lütfen daha sonra tekrar deneyiniz.Sorununuz devam ederse bizimle iletişime geçiniz.Anasayfaya
                    dönmek için <a href="index.html" target="_top">buraya tıklayın.</a>
                </div>
            </div>
        </div>
    </div>