<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Kullanıcı Girişi</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Aşağıdan hesabına giriş yapabilirsin.</div>
                </div>
                <form action="/girisYap" method="POST" novalidate class="validated-form">

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">E-mail</div>
                    <!-- SONRADAN İSİMDE EKLE -->
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="email" type="email" class="FormElemanlariTextInputlari" tabindex="1" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen Emaili yazin</div>

                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">
                        Şifre<span class="TamSayfaCerceveAlaniIcinFormElemanlariSagaHizaliBaslikMetni"><a
                                href="Sifremi-Unuttum.html" target="_top"> Şifremi Unuttum?</a></span>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="sifre1" type="password" class="FormElemanlariTextInputlari" tabindex="2" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen şifreyi yazin</div>
                    </div>



                    <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Giriş Yap"
                            class="FormElemanlariYesilButonlar" tabindex="3"></div>
                </form>
            </div>

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hızlı Sevkiyat Ve Satış Sonrası Destek
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">

                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/fast.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Hızlı
                            Sevkiyat</span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Satın almış olduğunuz
                        ürünü en kısa sürede adresinize gönderiyoruz.
                    </div>
                </div>


                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/refresh.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Satış Sonrası
                            Destek</span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">
                        Satın almış olduğunuz ürün ile alakalı yaşanabilecek her türlü problem ve aklınıza
                        takılabilecek tüm sorular ile ilgili bizimle iletişime geçebilirsiniz.
                    </div>
                </div>
            </div>
        </div>
    </div>