<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="foto/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" language="javascript" src="/js/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">

        <%- include('partials/navbar')%>

    <main>
       <div id="TamSayfaCerceveAlani">
          <div id="TamSayfaCerceveSinirlamaAlani">

                 <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                            Havale Bildirim Formu</div>
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                            Tamamlanmış olan ödeme işleminizi bildirin.</div>
                        </div>
                            <form action="Havale-Bildirim-Formu.html" method="post">
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">İsim Soyisim</div>
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="IsimSoyİsim" type="text" class="FormElemanlariTextInputlari" tabindex="1"></div>

                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">E-Mail Adresi</div>
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="EmailAdresi" type="text" class="FormElemanlariTextInputlari" tabindex="2"></div>

                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Cep Telefonu</div>
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="EmailAdresi" type="text" class="FormElemanlariTextInputlari" tabindex="3"></div>

                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Banka Adı</div>
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="EmailAdresi" type="text" class="FormElemanlariTextInputlari" tabindex="4"></div>

                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Açıklama</div>
                                <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><textarea name="Aciklama" class="FormElemanlariTextArealari" tabindex="5"></textarea></div>

                                <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Bildirim Gönder" class="FormElemanlariYesilButonlar" tabindex="6" ></div>

                            </form>
                 </div>

                 <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                            İşleyiş
                        </div>
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                            Havale/EFT işlemlerinin kontrolü.
                        </div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                            <img src="/images/bank.png" alt="" title=""><span class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Havale / EFT işlemi</span>
                        </div>
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Müşteri tarafından öncelikle , banka hesaplarımız 
                            sayfasında bulunan herhangi bir hesaba ödeme işlemi gerçekleştiriniz.
                            </div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                            <img src="/images/bildirim.png" alt="" title=""><span class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Bildirim İşlemi</span>
                        </div>
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Ödeme işleminizi tamamladıktan sonra "Havale Bildirim Formu" sayfasından
                            müşteri bildirim formunu tamamlayınız.</div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                            <img src="/images/control.png" alt="" title=""><span class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Kontroller</span>
                        </div>
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Havale bildirim formunuz tarafımıza ulaştığı anda ilgili departman
                             tarafından yapmış olduğunuz Havale / EFT kaydı banka üzerinden kontrol edilir.
                          </div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                            <img src="/images/onay-red.png" alt="" title=""><span class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Onay / Red</span>
                        </div>
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Bildirim geçerli ise 
                            (Hesaba ödeme geçmiş ise) yönetici ödeme onayını verir.
                           </div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                            <img src="/images/gift.png" alt="" title=""><span class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Sipariş Hazırlama ve Teslimat</span>
                        </div>
                        <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Yönetici onayından sonra ,
                            siparişiniz en kısa sürede hazırlanarak kargoya teslim edilir.
                           </div>
                     </div>
                     
                 </div>
          </div>
        </div>
    </main>

    <%- include('partials/footer')%>

   </div>
</body>
</html>