<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="/images/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" language="javascript" src="/js/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">

        <%- include('partials/navbar')%>

    <main>
       <div id="TamSayfaCerceveAlani">
          <div id="TamSayfaCerceveSinirlamaAlani">
             <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                    Hesabım > Siparişler    
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                       Tüm siparişlerinizi bu alandan görüntüleyebilirsiniz.
                    </div>
                 </div>

                 <div id="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                    <div id="TamsayfaCerceveAlaniİciHesapMenuleriDengelemeAlani">
                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                   <a href="/hesabim" style="color: #000;" target="_top"> Siparişler</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/yorumlarim" target="_top">Yorumlar</a> 
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/ueyelikBilgilerim" target="_top">Üyelik Bilgileri</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/adreslerim" target="_top">Adresler</a>
                                </div>
                            </div>
                        </div>


                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/favorilerim" target="_top">Favoriler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>



                <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">Sipariş Numarası: #45648569856</div>
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                          02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki sipariş.Detayları <a href="Siparis-detay.html">göster >>></a>
                        </div>
                    </div>


                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">Sipariş Numarası: #45648569856</div>
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                              02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki sipariş.Detayları <a href="Siparis-detay.html">göster >>></a>
                            </div>
                        </div>


                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">Sipariş Numarası: #45648569856</div>
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                          02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki sipariş.Detayları <a href="Siparis-detay.html">göster >>></a>
                        </div>
                    </div>
                </div>


                    
                        <div id="SayfalamaAlani">
                          <!--  <div id="SayfalamaAlaniIciSayfaVeKayitSayisiAlani">Toplam <b>10</b> sayfa , 54 kayıt bulunmaktadır.</div>
                                <div id="SayfalamaNumaralandirmaAlani">
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/first.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/back.png" alt="" title=""></a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">1</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">2</a></span>
                                    <span class="SayfalamaNumaralandirmaAktif"><a href="Hesabim.html" target="_top">3</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">4</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">5</a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/next.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/last.png" alt="" title=""></a></span>
                                </div>-->
                        </div>

             </div>
          </div>
        </div>
    </main>

    <%- include('partials/footer')%>

   </div>
</body>
</html>