<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        İptal & İade & Değişim</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com İptal , İade ve değişim sözleşmesi metni aşağıdadır.
                    </div>
                </div>
                <div id="TamSayfaCerceveAlaniİciGenelBilgilendirmeAlani">


                    <div style="height: 350px; overflow-x: hidden; overflow-y: scroll;">
                        1. TANIMLAR<br><br>
                        "Ürün": Satıcı tarafından ALICI'ya satışı gerçekleştirilen herhangi bir mal veya hizmeti ifade
                        eder.
                        <br><br>
                        2. İPTAL<br><br>
                        ALICI, satın aldığı Ürünü iptal etmek istediğinde, bu talebini SATICI'ya yazılı olarak
                        bildirmelidir.
                        İptal talepleri, SATICI tarafından kabul edildiğinde Ürün bedeli ALICI'ya iade edilir.<br><br>
                        3. İADE VE DEĞİŞİM<br><br>
                        ALICI, satın aldığı Ürünü iade veya değişim için SATICI'ya geri göndermek istediğinde, aşağıdaki
                        koşulları karşılamalıdır:
                        a Ürünün kullanılmamış, hasarsız, orijinal ambalajında ve tüm aksesuarlarıyla birlikte SATICI'ya
                        geri gönderilmesi gerekmektedir.
                        b İade veya değişim talebi, Ürünün SATICI tarafından belirlenen süre içinde (örneğin, 14 gün)
                        teslim alındığını takip eden süre içinde SATICI'ya bildirilmelidir.
                        c İade veya değişim talepleri, SATICI tarafından değerlendirilecek ve uygun bulunması halinde
                        iade veya değişim işlemi gerçekleştirilecektir.<br><br>
                        4. İADE VE DEĞİŞİMİN REDDİ<br><br>
                        SATICI, aşağıdaki durumlarda iade veya değişim taleplerini reddetme hakkını saklı tutar.<br><br>
                        a ALICI'nın iade veya değişim taleplerini belirtilen süre içinde bildirmemesi durumunda.
                        b Ürünün kullanılmış, hasarlı veya orijinal ambalajı ve aksesuarları eksik bir şekilde SATICI'ya
                        geri gönderilmesi durumunda.
                        c İade veya değişim taleplerinin SATICI tarafından değerlendirilmesi sonucunda, taleplerin uygun
                        bulunmaması durumunda.<br><br>
                        5. SORUMLULUK SINIRLAMASI<br><br>
                        SATICI, Ürünlerin kalitesi, sağlamlığı, kullanılabilirliği veya uygunluğu konularında herhangi
                        bir garanti veya taahhüt vermez.
                        Ürünlerin iadesi veya değişimi, bu Sözleşme hükümlerine tabi olacaktır.<br><br>
                        6. UYUŞMAZLIKLARIN ÇÖZÜMÜ<br><br>
                        Bu Sözleşme'nin yorumlanması ve uygulanmasıyla ilgili herhangi bir uyuşmazlık durumunda
                        taraflar,
                        çözüm için öncelikle iyi niyetle müzakerelerde bulunacak ve anlaşmazlıklarını dostane bir
                        şekilde çözmeye çalışacaklardır.<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>