<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        İş Ortaklarımız</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Daha fazla ürün için aşağıda bulunan iş ortaklarımızı ziyaret edebilirsiniz.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciIsortaklariAlani">
                    <div class="TamSayfaCerceveAlaniIciIsortaklariBaslikMetni">topcuiselbiseleri.com</div>
                    <div class="TamSayfaCerceveAlaniIciIsortaklariBilgiMetni">
                    </div>
                </div>
                <!--
                    <div class="TamSayfaCerceveAlaniIciIsortaklariAlani">
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBaslikMetni">topcuiselbiseleri.com</div>
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBilgiMetni">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIciIsortaklariAlani">
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBaslikMetni">topcuiselbiseleri.com</div>
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBilgiMetni">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIciIsortaklariAlani">
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBaslikMetni">topcuiselbiseleri.com</div>
                        <div class="TamSayfaCerceveAlaniIciIsortaklariBilgiMetni">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </div>
                    </div>-->


                <div id="SayfalamaAlani">
                    <!--  <div id="SayfalamaAlaniIciSayfaVeKayitSayisiAlani">Toplam <b>10</b> sayfa , 54 kayıt bulunmaktadır.</div>
                                <div id="SayfalamaNumaralandirmaAlani">
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top"><img src="foto/first.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top"><img src="foto/back.png" alt="" title=""></a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top">1</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top">2</a></span>
                                    <span class="SayfalamaNumaralandirmaAktif"><a href="Isortaklarimiz.html" target="_top">3</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top">4</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top">5</a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top"><img src="foto/next.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Isortaklarimiz.html" target="_top"><img src="foto/last.png" alt="" title=""></a></span>
                                </div>-->
                </div>

            </div>
        </div>
    </div>