<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Kargom Nerede?</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Sipariş gönderilerinizi bu ekrandan takip edebilirsiniz.
                    </div>
                </div>


                <form action="https://www.yurticikargo.com/" method="get">
                    <div id="KargomNeredeBilgiAlani">
                        <!--SonucSayfalariBilgiAlani-->
                        <div id="KargomNeredeIslemIconuAlani">
                            <!--SonucSayfalariIslemIconuAlani-->
                            <img src="/images/kargomnerede.png" alt="" title="">
                        </div>

                        <div id="KargomNeredeBaslikAlani">
                            <!--SonucSayfalariBaslikAlani-->
                            Gönderi Takip Numarası.
                        </div>

                        <div id="KargomNeredeInputAlani">
                            <!--SonucSayfalariBaslikAlani-->
                            <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciTekSatirAlani"><input
                                    name="GonderiKodu" type="text" class="FormElemanlariTextInputlari"
                                    style="text-align: center;font-weight: 600;"></div>
                        </div>
                        <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Kargo Durumu Göster"
                                class="FormElemanlariMaviButonlar" tabindex="8"></div>

                        <div id="KargomNeredeiIcerikAlani">
                            <!--SonucSayfalariIcerikAlani-->
                            Siparişler sayfasında ilgili siparişiniz ile alakalı olan gönderi kodunuzu lütfen yukarıdaki
                            alana girerek "Kargo Durumu Göster" butonuna tıklayınız.
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>