<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Sık Sorulan Sorular</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Aklınıza takılabileceğini düşündüğümüz soruları bu sayfada cevapladık.Farklı bir sorunuz varsa
                        lütfen iletişim alanından bize yazınız.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciIcBaslikMetni">
                    KONU 1
                </div>

                <div class="TamSayfaCerceveAlaniIciSssAlani">
                    <div id="1" class="TamSayfaCerceveAlaniIciSssSoruBaslikAlani" onclick="$.SSSIceriginiGoster('1')">
                        1. KONUNUN 1. BAŞLIĞI
                    </div>

                    <div class="TamSayfaCerceveAlaniIciSssSoruIcerigiAlani" style="display: none;">
                        1. KONUNUN 1. BAŞLIĞININ CEVABI
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciSssAlani">
                    <div id="2" class="TamSayfaCerceveAlaniIciSssSoruBaslikAlani" onclick="$.SSSIceriginiGoster('2')">
                        1. KONUNUN 2. BAŞLIĞI
                    </div>

                    <div class="TamSayfaCerceveAlaniIciSssSoruIcerigiAlani" style="display: none;">
                        1. KONUNUN 2. BAŞLIĞININ CEVABI
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciSssAlani">
                    <div id="3" class="TamSayfaCerceveAlaniIciSssSoruBaslikAlani" onclick="$.SSSIceriginiGoster('3')">
                        1. KONUNUN 3. BAŞLIĞI
                    </div>

                    <div class="TamSayfaCerceveAlaniIciSssSoruIcerigiAlani" style="display: none;">
                        1. KONUNUN 3. BAŞLIĞININ CEVABI
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciIcBaslikMetni">
                    KONU 2
                </div>

                <div class="TamSayfaCerceveAlaniIciSssAlani">
                    <div id="4" class="TamSayfaCerceveAlaniIciSssSoruBaslikAlani" onclick="$.SSSIceriginiGoster('4')">
                        2. KONUNUN 1. BAŞLIĞI
                    </div>

                    <div class="TamSayfaCerceveAlaniIciSssSoruIcerigiAlani" style="display: none;">
                        2. KONUNUN 1. BAŞLIĞININ CEVABI
                    </div>
                </div>


            </div>
        </div>
    </div>