<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Teslimat</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com teslimat sözleşmesi metni aşağıdadır.
                    </div>
                </div>

                <div id="TamSayfaCerceveAlaniİciGenelBilgilendirmeAlani">
                    <div style="height: 350px; overflow-x: hidden; overflow-y: scroll;">
                        1. vecihistore.com TESLİMAT SÖZLEŞMESİ<br><br>
                        Teslimat Yapan, aşağıda belirtilen mal veya hizmetleri ("Mal/Hizmet")
                        Teslimat Alan'a belirli bir tarihte teslim etmeyi taahhüt etmektedir.<br><br>
                        2.TESLİMAT KOŞULLARI<br><br>
                        2.1. Teslimat Yapan, Mal/Hizmetin sağlam, tam ve eksiksiz bir şekilde Teslimat Alan'a
                        ulaştırılmasından sorumludur.
                        2.2. Teslimat Yapan, Mal/Hizmeti ilgili yasa ve düzenlemelere uygun olarak paketlemeli ve taşıma
                        sırasında zarar görmesini engellemelidir.
                        2.3. Teslimat Yapan, Mal/Hizmeti belirtilen tarihte veya tarih aralığında, Teslimat Alan'ın
                        adresine teslim etmelidir.
                        Teslimat için belirtilen tarihlerde herhangi bir aksaklık olması durumunda, Teslimat Alan'ı
                        derhal bilgilendirmelidir.
                        2.4. Teslimat Yapan, Teslimat Alan'ın taleplerine uygun olarak gerekli belgeleri teslim
                        etmelidir.<br><br>
                        3. TESLİMAT ÜCRETİ VE ÖDEME<br><br>
                        .1. Teslimat Ücreti: Teslimat Alan, Mal/Hizmetin teslimatı karşılığında belirli bir ücret
                        ödemeyi kabul etmektedir. Teslimat Ücreti ve ödeme koşulları ayrı bir anlaşma veya fatura ile
                        belirlenecektir.
                        3.2. Ödeme Şekli: Ödemeler, taraflar arasında belirlenen yöntemlere göre yapılacaktır.<br><br>
                        4. TESLİMATIN KABULÜ<br><br>
                        4.1. Teslimat Alan, Mal/Hizmetin teslim alındığını, miktar ve kalite açısından eksiksiz ve
                        sağlam olduğunu onaylamakla yükümlüdür. Herhangi bir hasar veya eksiklik durumunda, Teslimat
                        Alan, durumu hemen Teslimat Yapan'a bildirmelidir.
                        4.2. Teslimat Alan, Mal/Hizmeti teslim alırken gerekli kontrolleri yapmak ve uygunluk açısından
                        incelenmesini sağlamakla sorumludur.<br><br>
                        5. SÖZLEŞMENİN SONA ERMESİ<br><br>
                        Bu Sözleşme, Teslimat Yapan'ın Mal/Hizmetin tam ve eksiksiz bir şekilde Teslimat Alan'a teslim
                        edilmesiyle sona erecektir.<br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>