<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="/images/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" language="javascript" src="/js/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">

        <%- include('partials/navbar')%>
        
    <main>
        <div id="TamSayfaAlani">
            <div id="TamSayfaSinirlamaAlani">

             <div id="UrunDetaySayfalariResimUrunBaslikFiyatVeIslemAlanlari">

                <div id="UrunDetaySayfalariResimlerAlani">
                    <div id="UrunDetaySayfalariBuyukResimAlani">
                        <div id="UrunDetaySayfalariBuyukResimDısCercevesi">
                            <img id="BuyukResim" src="/images/UrunResimleri/ErkekGiyim/adobe-1.png" alt="" title="">
                        </div>
                    </div>

                    <div id="UrunDetaySayfalariKucukResimlerAlani">
                        <div id="UrunDetaySayfalariKucukResimlerDengelemeAlani">

                            <div class="UrunDetaySayfalariKucukResimSinirlamaAlani">
                                <div class="UrunDetaySayfalariKucukResimDısCercevesi">
                                    <img src="/images/UrunResimleri/ErkekGiyim/adobe-1.png" alt="" title="" onclick="$.UrunDetaySayfasiIcinResimDegistir('adobe-1.png');">
                                </div>
                            </div>

                            <div class="UrunDetaySayfalariKucukResimSinirlamaAlani">
                                <div class="UrunDetaySayfalariKucukResimDısCercevesi">
                                    <img src="/images/UrunResimleri/ErkekGiyim/adobe-2.png" alt="" title="" onclick="$.UrunDetaySayfasiIcinResimDegistir('adobe-2.png');">
                                </div>
                            </div>

                            <div class="UrunDetaySayfalariKucukResimSinirlamaAlani">
                                <div class="UrunDetaySayfalariKucukResimDısCercevesi">
                                    <img src="/images/UrunResimleri/ErkekGiyim/adobe-3.png" alt="" title="" onclick="$.UrunDetaySayfasiIcinResimDegistir('adobe-3.png');">
                                </div>
                            </div>

                            <div class="UrunDetaySayfalariKucukResimSinirlamaAlani">
                                <div class="UrunDetaySayfalariKucukResimDısCercevesi">
                                    <img src="/images/UrunResimleri/ErkekGiyim/adobe-4.png" alt="" title="" onclick="$.UrunDetaySayfasiIcinResimDegistir('adobe-4.png');">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="UrunDetaySayfalariBaslikVeIslemlerAlani">
                    <div id="UrunDetaySayfalariUrunBasligiAlani">
                        Erkek Giyim Doğa Temalı Baskı T-shirt
                    </div>

                    <div id="UrunDetaySayfalariUrunMarkasiAlani">
                       <img src="/images/vecihi-urundetay.png" alt="" title="">
                    </div>

                    <div id="UrunDetaySayfalariPaylasVeSepeteEkleButonlariAlani">
                        <div id="UrunDetaySayfalariInstagramPaylasButonuAlani">
                            <img src="/images/instagram-urundetay.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariTwitterPaylasButonuAlani">
                            <img src="/images/twitter-detaysayfasi.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariFavoriListesineEkleButonuAlani">
                            <img src="/images/favourite-urundetay.png" alt="" title="">
                        </div>

                        <div id="UrunDetaySayfalariSepeteEkleButonuAlani">
                            <span id="UrunDetaySayfalariSepeteEkleButonuIconu"><img src="/images/add-to-cart.png" alt="" title=""></span>
                            <span id="UrunDetaySayfalariSepeteEkleButonuMetni">Sepete Ekle</span>
                        </div>
                    </div>

                    <div id="UrunDetaySayfalariUrunVaryantVeFiyatAlani">
                        <div id="UrunDetaySayfalariUrunVaryantlarAlani">
                            <select name="UrunBedeni" class="FormElemanlariSelectlerii">
                                <option selected="selected">Beden Seçiniz</option>
                                <option value="XL">XL</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="S">S</option>
                            </select>
                        </div>
                          
                        <div id="UrunDetaySayfalariUrunFiyatlandirmaAlani">
                            <span class="UrunDetaySayfasiUrunFiyatiAlani">
                                450,000 TL
                            </span>
                            <span class="UrunDetaySayfasiUrunFiyatiAlani">
                               <del>600,000 TL</del>
                            </span>
                        </div>
                      </div>


                      <div id="UrundetaySayfalariUrununKargoIslemleriDetayAlani">
                        <div id="UrundetaySayfalariUrunKargoIslemleriResimAlani">
                            <img src="/images/fast.png" alt="" title="">
                        </div>
                        <div id="UrundetaySayfalariUrunKargoIslemleriMetni">
                            Sipariş maksimum 24 saat içerisinde kargoya verilir.
                        </div>
                      </div>
              
                      <div id="UrundetaySayfalariUrununHizliGonderiDetayAlani">
                        <div id="UrundetaySayfalariUrunHizliGonderiResimAlani">
                            <img src="/images/fast.png" alt="" title="">
                        </div>
                        <div id="UrundetaySayfalariUrununHizliGonderiMetni">
                            İlgili ürün hızlı teslimat kapsamındadır aynı gün kargoya verilir.
                        </div>
                      </div>

                 </div>




                 <div id="UrundetaySayfalariUrununAciklamaAlani">
                    <div id="UrundetaySayfalariUrununAciklamaBaslikMetni">
                        Açıklama
                    </div>
                    <div id="UrundetaySayfalariUrununAciklamaIcerikMetni">
                        Erkek Oversize Desenli %100 Pamuk Bisiklet Yaka Kısa Kollu T-shirt <br><br>
                        BEDEN ÖLÇÜ TABLOSU S BEDEN BOY 67 GÖGÜS 54 CM DİR. M BEDEN BOY 69 GÖGÜS 56 CM DİR. L BEDEN BOY 73 GÖGÜS 58 CM DİR. XL BEDEN BOY 75 GÖGÜS 60 CMDİR.
                        DUYURU : T-SHİRTLERİ LÜTFEN YIKAMALARDA TERS ÇEVİRİP YIKAYINIZ. Erkek Oversize Desenli %100 Pamuk Bisiklet Yaka Kısa Kollu T-Shirt, oversize ÖN ARKA
                        BASLKILI ÇOK BEGENECEGİNİZ BİR ÜRÜNDÜR.<br><br>
                        Bu üründen en fazla 10 adet sipariş verilebilir. 10 adetin üzerindeki siparişleri Trendyol iptal etme hakkını saklı tutar.<br><br>
                        Kampanya fiyatından satılmak üzere 100 adetten fazla stok sunulmuştur.<br><br>
                        İncelemiş olduğunuz ürünün satış fiyatını satıcı belirlemektedir.<br><br>
                        Bir ürün, birden fazla satıcı tarafından satılabilir. 
                        Birden fazla satıcı tarafından satışa sunulan ürünlerin satıcıları ürün için belirledikleri fiyata, satıcı puanlarına,
                        teslimat statülerine, ürünlerdeki promosyonlara, kargonun bedava olup olmamasına ve ürünlerin hızlı teslimat ile teslim edilip edilememesine,
                        ürünlerin stok ve kategorileri bilgilerine göre sıralanmaktadır.<br><br>
                    </div>
                 </div>



                    <div id="UrundetaySayfalariUrununYorumlariAlani">
                        <div id="UrundetaySayfalariUrununYorumlariBaslikMetni">
                            Yorumlar
                        </div>
                        <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                            Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim. Güzel yumuşak ve kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi kumaşı da güzel.
                        </div>
                        <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                            Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim. Güzel yumuşak ve kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi kumaşı da güzel.
                        </div>
                        <div class="UrundetaySayfalariUrununYorumlariIcerikMetni">
                            Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim. Güzel yumuşak ve kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel. Çok iyi kumaşı da güzel.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer')%>

   </div>
</body>
</html>