<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="/images/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" language="javascript" src="/js/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">

        <%- include('partials/navbar')%>

    <main>
       <div id="TamSayfaCerceveAlani">
          <div id="TamSayfaCerceveSinirlamaAlani">

                 <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                            Hesabım > Üyelik Bilgileri</div>
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                            Aşağıdan üyelik bilgilerinizi görüntüleyebilir ve güncelleyebilirsiniz.</div>
                        </div>
                            <form action="/ueyelikBilgilerim" method="post">

                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">İsim Soyisim</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">Eren Akkurt</div>

                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">E-Mail Adresi</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">erenakkurt048@gmail.com</div>

                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">Şifre</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">123456</div>


                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">Cep Telefonu</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">0506 996 72 13</div>

                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">E-mail İle Haberdar Olma Durumu</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">Aktif</div>

                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">Sms İle Haberdar Olma Durumu</div>
                                <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">Pasif</div>

                                <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Bilgilerimi Güncellemek İstiyorum" class="FormElemanlariTuruncuButonlar" tabindex="6" ></div>
                            </form>
                 </div>

                 <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                            Reklam
                        </div>
                        <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                            vecihistore.com reklamları.
                        </div>
                     </div>

                     <div class="TamSayfaCerceveAlaniIciReklamKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciReklamResmiAlani">
                           <!-- 552x350 -->
                            <img src="/images/reklam-comics.png" alt="" title="">
                        </div>
                     </div>
                     
             </div>
          </div>
        </div>
    </main>

    <%- include('partials/footer')%>

   </div>
</body>
</html>