<!doctype html>
<html lang="tr-TR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="tr">
<meta charset="utf-8">
<meta http-equiv="X-UA-Competible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
<link type="image/png" rel="icon"  sizes="93x93" href="/images/favicon.png" >
<meta name="robots" content="index, follow, noarchive">
<meta name="revisit-after" content="7 days">
<meta name="rating" content="general">
<meta name="copyright" content="copyright &copy; 2023 Vecihistore.com Her Hakkı Saklıdır.">
<meta name="reply-to" content="info@vecihistore.com">
<meta name="author" content="Eren Akkurt - info@vecihistore.com">
<meta name="designer" content="Eren Akkurt - Vecihi Store">
<meta name="generator" content="Microsoft Visual Studio">
<title>Vecihi Store</title>
<meta name="description"  content="Vecihi store vintage ürünler satan aynı zamanda eğlenceli çizgiromanlara sahip bir e-ticaret sitesidir">
<meta name="keywords" content="Vecihi Store, Vintage , Baskı Tişört , Antika , Oyun , Çizgiroman ">
<script type="text/javascript" language="javascript" src="/js/jquery-3.6.4.min.js"></script>
<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" language="javascript" src="/js/java.js"></script>
</head>

<body>
    <div id="TumSayfaAlani">

        <%- include('partials/navbar')%>
    <main>
       <div id="TamSayfaCerceveAlani">
          <div id="TamSayfaCerceveSinirlamaAlani">
             <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Üyelik Sözleşmesi</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com üyelik sözleşmesi metni aşağıdadır.
                    </div>
                    </div>

                    <div id="TamSayfaCerceveAlaniİciGenelBilgilendirmeAlani">
                        <div style="height: 350px; overflow-x: hidden; overflow-y: scroll;">                       
    
          Vecihistore.com Genel Üyelik Sözleşmesi
                            
    Bu Üyelik Sözleşmesi ("Sözleşme"), Vecihistore.com ("Vecihistore" veya "Şirket") ile Vecihistore.com'a üye olmak isteyen gerçek veya tüzel kişi  ("Üye" veya "Siz") arasında akdedilmiştir.

    Bu Sözleşme, Vecihistore.com'a üyelik başvurusunda bulunan ve/veya üyelik kaydını tamamlayan ve Sözleşme'yi kabul eden her bir Üye için bağlayıcıdır.

    1. TARAFLAR
     Vecihistore.com
                            
    2. TANIMLAR
    "Vecihistore.com": Vecihistore.com internet sitesini ifade eder.
    "Üye": Vecihistore.com'a üye olmak isteyen gerçek veya tüzel kişiyi ifade eder.
     "Hizmetler": Vecihistore.com tarafından sunulan üyelik, alışveriş ve diğer ilgili hizmetleri ifade eder.
     "Kullanıcı Bilgileri": Üye tarafından Vecihistore.com'a sağlanan, kişisel veya ticari bilgileri ifade eder.

     3. KABUL VE SÖZLEŞME KONUSU

     3.1. Üye, Vecihistore.com'un sunduğu Hizmetlerden yararlanmak için bu Sözleşme'yi okumuş, anlamış ve kabul etmiş olmalıdır.
                            
     3.2. Üye, Sözleşme'yi kabul ederek Vecihistore.com'a üye olmayı ve Hizmetlerden yararlanmayı taahhüt eder.
                            
     3.3. Vecihistore.com, Üye'nin Sözleşme hükümlerine uymaması halinde, Üye'nin üyeliğini sonlandırma veya belirli hizmetleri kullanımını askıya alma hakkını saklı tutar.
                            
    4. ÜYELİK

    4.1. Üye, Vecihistore.com'a üye olabilmek için kayıt formunu eksiksiz ve doğru bir şekilde doldurmalıdır. Üye, Kullanıcı Bilgileri'ni güncel ve doğru tutma sorumluluğunu kabul eder.
                            
    4.2. Üye, üyelik işlemlerini tamamladıktan sonra belirlenen kullanıcı adı ve şifre ile Vecihistore.com'a giriş yapabilir.
                            
    4.3. Üye, kullanıcı adı ve şifresinin gizliliğini korumakla yükümlüdür. Üye, kullanıcı adı ve şifresinin üçüncü şahıslar  tarafından kullanımından kaynaklanan herhangi bir zarar ve/veya kayıptan Vecihistore.com'u sorumlu tutmayacağını kabul eder.
                            
    5. HİZMETLER

    5.1. Vecihistore.com, Üye'ye elektronik ticaret platformu aracılığıyla alışveriş yapma imkanı sunar.
                            
    5.2. Üye, Vecihistore.com üzerinden gerçekleştirdiği alışverişlerden doğan herhangi bir 
    sorumluluk veya uyuşmazlık durumunda, Vecihistore.com ile çözüm yollarını arayacağını kabul eder.
                            
    5.3. Vecihistore.com, sunulan Hizmetlerde değişiklik yapma, yeni hizmetler ekleme veya mevcut hizmetleri sona erdirme hakkını saklı tutar.
                            
    6. FİKRİ MÜLKİYET HAKLARI

    6.1. Vecihistore.com'un internet sitesi, ticari markalar, logo, tasarım, metin, grafik, ses ve video içerikleri gibi tüm içerik ve 
    materyaller Vecihistore.com'un mülkiyetindedir.
                            
    6.2. Üye, Vecihistore.com'un fikri mülkiyet haklarını ihlal etmeyeceğini kabul eder ve Vecihistore.com'un yazılı izni olmadan herhangi 
    bir içeriği kopyalama, dağıtma, değiştirme veya yayınlama hakkına sahip olmadığını kabul eder.
                            
    7. GİZLİLİK

    7.1. Vecihistore.com, Üye'nin kişisel bilgilerini gizli tutmayı ve Üye'nin izni olmaksızın üçüncü şahıslarla paylaşmamayı taahhüt eder. 
    Daha fazla bilgi için Vecihistore.com'un Gizlilik Politikası'nı inceleyiniz.
                            
    8.SÖZLEŞMENİN FESHİ

    8.1. Üye, üyelikten çıkmak istediğinde Vecihistore.com'a bildirimde bulunmalıdır.
                            
    8.2. Vecihistore.com, Üye'nin Sözleşme'ye aykırı davranışları veya kanun ihlalleri durumunda üyeliği sonlandırma hakkına sahiptir.
                            
    9. UYGULANACAK HUKUK VE YETKİLİ MAHKEME

    Bu Sözleşme'nin uygulanmasında Türkiye Cumhuriyeti kanunları geçerli olacaktır. Her türlü uyuşmazlık için İstanbul Mahkemeleri ve 
    İcra Daireleri yetkilidir.
                            
    Bu Sözleşme, taraflar arasında karşılıklı olarak kabul edilmiş ve imzalanmıştır.
                            
    Vecihistore.com</div>
</div>
                    
             </div>
          </div>
        </div>
    </main>

    <%- include('partials/footer')%>
   </div>
</body>
</html>