<% layout('layouts/boilerplate') %>
    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesap Oluştur</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Yeni misiniz? Aşağıdan hesap oluşturabilirsiniz.</div>
                </div>
                <form action="/ueyeOl" method="POST" novalidate class="validated-form">
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">İsim</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="isim" type="text" class="FormElemanlariTextInputlari" tabindex="1" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen isminizi yazin</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Soyisim</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="soyisim" type="text" class="FormElemanlariTextInputlari" tabindex="2" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen soyisminizi yazin</div>
                    </div>


                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">E-Mail Adresi</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="email" type="email" class="FormElemanlariTextInputlari" tabindex="3" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen emailinizi yazin</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Şifre</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="sifre1" type="number" class="FormElemanlariTextInputlari" tabindex="4" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen şifrenizi yazin</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Şifre Tekrar</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani">
                        <input name="sifre2" type="number" class="FormElemanlariTextInputlari" tabindex="5" required>
                        <div class="valid-feedback">Iyi!</div>
                        <div class="invalid-feedback">Lütfen şifrenizi tekrar yazin</div>
                    </div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Cep Telefonu</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="ceptelefonu"
                            type="number" class="FormElemanlariTextInputlari" tabindex="6"></div>

                    <div class="CheckBoxlarveSecenekleriIcinKapsamaAlanı">
                        <span class="CheckBoxlarveSeceneklerKapsamaAlanı">
                            <label class="CheckBoxKapsamaAlanı">
                                <input name="EmailIleHaberdarOl" type="checkbox"
                                    class="FormElemanlariCheckBoxInputlari">
                                <span class="CheckBoxIcinBicimlendirmeAlani"></span>
                                <span class="CheckBoxYaniMetinAlani">E-mail ile haberdar olmak istiyorum.</span>
                            </label>
                        </span>
                    </div>

                    <div class="CheckBoxlarveSecenekleriIcinKapsamaAlanı">
                        <span class="CheckBoxlarveSeceneklerKapsamaAlanı">
                            <label class="CheckBoxKapsamaAlanı">
                                <input name="SmsIleHaberdarOl" type="checkbox" class="FormElemanlariCheckBoxInputlari">
                                <span class="CheckBoxIcinBicimlendirmeAlani"></span>
                                <span class="CheckBoxYaniMetinAlani">Sms ile haberdar olmak istiyorum.</span>
                            </label>
                        </span>
                    </div>

                    <div class="CheckBoxlarveSecenekleriIcinKapsamaAlanı">
                        <span class="CheckBoxlarveSeceneklerKapsamaAlanı">
                            <label class="CheckBoxKapsamaAlanı">
                                <input name="" type="checkbox" class="FormElemanlariCheckBoxInputlari" required>
                                <span class="CheckBoxIcinBicimlendirmeAlani"></span>
                                <span class="CheckBoxYaniMetinAlani">
                                    <a href="/ueyelikSoezlesme" target="_blank"><b>
                                            Üyelik sözleşmesini</b> onaylıyorum.</a>
                                </span>
                            </label>
                        </span>
                    </div>

                    <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Hesabımı Oluştur"
                            class="FormElemanlariYesilButonlar" tabindex="6"></div>
                </form>
            </div>

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Neden mi vecihistore.com ?
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Çünkü birçok nedeni var.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/rare.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Nadir bulunan vintage
                            ürünler</span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Hepsi birbirinden nadir
                        koleksiyonluk ürünler ve daha fazlası...
                    </div>
                </div>


                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/refresh.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Kaliteli ve güncel</span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">
                        Sosyal medya etkileşimi , video içerikleri ve daha fazlası...
                    </div>
                </div>


                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="images/rare.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Koleksiyon </span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Koleksiyon tutkunları ve
                        meraklıları için bir pazar yeri. Sizi nadir ürünlerin büyülü dünyasında unutulmaz bir yolculuğa
                        davet ediyoruz.</div>
                </div>


                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/fun.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Eğlenceli içerik </span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">Eğlenceli içerikle dolu
                        dünyamızda sizi bekleyen komik videolar, esprili yazılar ve sürprizlerle dolu bir atmosfer var.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciBilgiParagraflariKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetniAlani">
                        <img src="/images/prize.png" alt="" title=""><span
                            class="TamSayfaCerceveAlaniIciBilgiParagraflariResimliBaslikMetni">Birbirinden nadir
                            ödüller!!!</span>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciBilgiParagraflariAciklamaMetni">"Ödüller Kazanmak İçin
                        Etkinliklere Katılın: Eğlence ve Heyecan Dolu Deneyimler Sizi Bekliyor!"
                        Eğlence dolu etkinliklere katılarak hem keyifli zaman geçirin hem de ödüller kazanma fırsatını
                        yakalayın! Sizi bekleyen birbirinden heyecanlı etkinliklerle dolu dünyamıza adım atın ve
                        unutulmaz deneyimlerin tadını çıkarın.
                    </div>
                </div>

            </div>
        </div>
    </div>