<% layout('layouts/boilerplate') %>
    <div id="TamSayfaAlani">
        <div id="TamSayfaSinirlamaAlani">

            <%- include('../partials/kategori')%>


                <div id="TamSayfaSagSutunSinirlamaAlani">
                    <div id="TamSayfaSagSutunIciAramaAlani">
                        <form action="/erkekGiyim" method="post">
                            <div class="TamSayfaSagSutunIciAramaAlaniButonlarIcinKapsamaAlani"><input type="submit"
                                    value="" class="TamSayfaSagSutunIciAramaAlaniAramayapButonlari"> </div>
                            <div class="TamSayfaSagSutunIciAramaAlaniInputAlanlariKapsamaAlani"><input type="text"
                                    name="Arama" class="TamSayfaSagSutunIciAramaAlaniTextInputlari"> </div>
                        </form>
                    </div>

                    <div id="TamSayfaSagSutunIciUrunlerAlani">
                        <div id="TamSayfaSagSutunIciUrunlerDengelemeAlani">

                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/Ayi-T-shirt.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Ayı Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-1.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>


                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/ayi-mavi.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Ayı Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-2.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>

                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/Doga-Temalı.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Ayı Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-3.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>

                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/Hurkus-Tshirt.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Ayı Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-1.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">


                                    <span class="TamSayfaSagSutunIciUrunFiyatiOrtali">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>


                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/adobe-1.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Doğa Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-1.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">


                                    <span class="TamSayfaSagSutunIciUrunFiyatiOrtali">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>


                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/adobe-2.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Motorsiklet Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-3.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>


                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/adobe-3.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Spor Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-3.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>




                            <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                    <a href="/ueruenDetay"><img src="/images/UrunResimleri/ErkekGiyim/adobe-4.png"
                                            alt="" title=""></a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                    <a href="/ueruenDetay"> Erkek Giyim </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">
                                    <a href="/ueruenDetay"> Vintage Temalı Baskı T-shirt </a>
                                </div>

                                <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                    <a href="/ueruenDetay"><img src="/images/star-3.png" alt="" title=""></a>

                                </div>

                                <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                        <a href="/ueruenDetay"> <del> 800 TL </del> </a>
                                    </span>

                                    <span class="TamSayfaSagSutunIciUrunFiyati">
                                        <a href="/ueruenDetay"> 500 TL </a>
                                    </span>

                                </div>
                            </div>

                            <div id="SayfalamaAlani">
                                <div id="SayfalamaAlaniIciSayfaVeKayitSayisiAlani">Toplam <b>10</b> sayfa , 54 kayıt
                                    bulunmaktadır.</div>
                                <div id="SayfalamaNumaralandirmaAlani">
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim" target="_top"><img
                                                src="/images/first.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim" target="_top"><img
                                                src="/images/back.png" alt="" title=""></a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim"
                                            target="_top">1</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim"
                                            target="_top">2</a></span>
                                    <span class="SayfalamaNumaralandirmaAktif"><a href="/erkekGiyim"
                                            target="_top">3</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim"
                                            target="_top">4</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim"
                                            target="_top">5</a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim" target="_top"><img
                                                src="/images/next.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="/erkekGiyim" target="_top"><img
                                                src="/images/last.png" alt="" title=""></a></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

        </div>
    </div>