<% layout('layouts/boilerplate') %>
    <div id="TamSayfaAlani">
        <div id="TamSayfaSinirlamaAlani">

            <%- include('../partials/kategori')%>

                <div id="TamSayfaSagSutunSinirlamaAlani">
                    <div id="TamSayfaSagSutunIciAramaAlani">
                        <form action="/erkekGiyim" method="post">
                            <div class="TamSayfaSagSutunIciAramaAlaniButonlarIcinKapsamaAlani"><input type="submit"
                                    value="" class="TamSayfaSagSutunIciAramaAlaniAramayapButonlari"> </div>
                            <div class="TamSayfaSagSutunIciAramaAlaniInputAlanlariKapsamaAlani"><input type="text"
                                    name="Arama" class="TamSayfaSagSutunIciAramaAlaniTextInputlari"> </div>
                        </form>
                    </div>

                    <div id="TamSayfaSagSutunIciUrunlerAlani">
                        <div id="TamSayfaSagSutunIciUrunlerDengelemeAlani">
                            <% for(let ueruen of ueruenler) {%>
                                <% if((ueruen.kategori=='erkekGiyim' || ueruen.kategori=='unisexGiyim' ) &&
                                    ueruen.cesit=='süs' ) {%>
                                    <div class="TamSayfaSagSutunIciUrunSinirlamaAlani">
                                        <div class="TamSayfaSagSutunIciUrunResmiDısCercevesi">
                                            <a href="/ueruenDetay"><img
                                                    src="/images/UrunResimleri/ErkekGiyim/Ayi-T-shirt.png" alt=""
                                                    title=""></a>
                                        </div>

                                        <div class="TamSayfaSagSutunIciUrunUstBaslikMetni">
                                            Erkek Giyim
                                        </div>

                                        <div class="TamSayfaSagSutunIciUrunAltBaslikMetni">

                                            <%= ueruen.tarif%>
                                        </div>

                                        <div class="TamSayfaSagSutunIciUrunPuanYildizlariAlani">

                                            <img src="/images/star-1.png" alt="" title="">

                                        </div>

                                        <div class="TamSayfaSagSutunIciUrunFiyatlariAlani">

                                            <!--    <span class="TamSayfaSagSutunIciUzeriCiziliUrunFiyati">
                                            <a href="/ueruenDetay"> <del>  </del> </a>
                                        </span> -->

                                            <span class="TamSayfaSagSutunIciUrunAltBaslikMetni">

                                                <%=ueruen.fiyat%> TL

                                            </span>

                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                                            <!--               

                            

                                    <div
                                        class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriGuncelleVeSilIslemAlani">

                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                            <a href="/erkekGiyim//yeniUeruen" target="_top">Ekle</a>
                                        </div>
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                            <img src="/images/ekle.png" alt="" title="">
                                        </div>

                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                            <a href="Adreslerim.html" target="_top">Sil</a>
                                        </div>
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                            <img src="/images/delete.png" alt="" title="">
                                        </div>

                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariMetni">
                                            <a href="Adres-Guncelle.html" target="_top">Güncelle</a>
                                        </div>
                                        <div
                                            class="TamSayfaCerceveAlaniIciHesabimSayfasiAdresBilgileriIslemIconlariAlani">
                                            <img src="/images/refresh.png" alt="" title="">
                                        </div>
                                    </div>-->








                        </div>
                    </div>
                </div>

        </div>
    </div>