<% layout('layouts/boilerplate') %>

    <div id="TumSayfaAlani">
        <div id="TamSayfaCerceveAlani">
            <div id="TamSayfaCerceveSinirlamaAlani">

                <form id="AlisverisSepetiForm" action="/alisverisSepetiOedeme" method="POST">
                    <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSolAlan">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlani">
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniUstBaslikMetni">
                                Alışveriş Sepeti</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliBaslikAlaniAltBaslikMetni">
                                Ödeme türü seçimini aşağıdan belirtebilirsin.
                            </div>
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdemeSecenekleriAlani">
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdemeSecenekleriBaslikAlani">
                                Ödeme Sistemi Seçimi
                            </div>

                            <div class="TamSayfaCerceveAlaniIciOdemeSecimleriAlani">
                                <div class="TamSayfaCerceveAlaniIciOdemeSecimleriDengelemeAlani">

                                    <div class="TamSayfaCerceveAlaniIciOdemeSecimleriSinirlandirmaAlani">
                                        <div class="TamSayfaCerceveAlaniIciOdemeSistemiLogosuaAlani">
                                            <img src="/images/creditcard.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuAlani">
                                            <table class="TamSayfaCerceveAlaniIciOdemeSecimiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="oedemeSistemSecimi"
                                                                        value="kredikart"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonInputlari"
                                                                        checked="checked"
                                                                        onclick="$.AlisverisSepetiOdemeSayfasiIcinKrediKartiSistemiSecildi()">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuBaslikMetniSutunu">
                                                            Kredi Kartı İle Ödeme
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciOdemeSecimleriSinirlandirmaAlani">
                                        <div class="TamSayfaCerceveAlaniIciOdemeSistemiLogosuaAlani">
                                            <img src="/images/mobilepayment.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuAlani">
                                            <table class="TamSayfaCerceveAlaniIciOdemeSecimiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="oedemeSistemSecimi"
                                                                        value="mobil"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonInputlari"
                                                                        onclick="$.AlisverisSepetiOdemeSayfasiIcinMobilOdemeSistemiSecildi()">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuBaslikMetniSutunu">
                                                            Mobil Ödeme İle Ödeme
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciOdemeSecimleriSinirlandirmaAlani">
                                        <div class="TamSayfaCerceveAlaniIciOdemeSistemiLogosuaAlani">
                                            <img src="/images/bank2.png" alt="" title="">
                                        </div>
                                        <div class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuAlani">
                                            <table class="TamSayfaCerceveAlaniIciOdemeSecimiTablosu" width="100%"
                                                cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="oedemeSistemSecimi"
                                                                        value="banka"
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonInputlari"
                                                                        onclick="$.AlisverisSepetiOdemeSayfasiIcinBankaHavalesiSistemiSecildi()">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td
                                                            class="TamSayfaCerceveAlaniIciOdemeSecimiTablosuBaslikMetniSutunu">
                                                            Banka Havalesi İle Ödeme
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- KREDİ KARTI SEÇİLİNCE AÇILACAK OLAN ALAN-->
                        <div id="KrediKartiIleOdemeAlani"
                            class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriKrediKartiAlani">
                            <div class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriKrediKartiBaslikAlani">
                                Kredi
                                Kartı İle Ödeme</div>

                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriKrediKartiAciklamaMetniAlani">
                                Lütfen ödeme işleminizde kullanmak istediğiniz
                                kredi kartınızın markanızı seçiniz.Kredi kartınızın markası aşağıdaki listede yer
                                almıyorsa diğer seçeneğini kullanabilirsiniz.
                            </div>

                            <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriAlani">
                                <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriDengelemeAlani">

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/axess.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Axess Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/bonus.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Bonus Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/fınance.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Finance Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/maxımum.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Maximum Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/world.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="World Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/paraf.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Paraf Card"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriSinirlamaAlani">
                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaLogosuAlani">
                                            <img src="/images/odeme/DİGER.png" alt="" title="">
                                        </div>

                                        <div class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTabloAlani">
                                            <table class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosu"
                                                width="100%" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" valign="top"
                                                            class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimiTablosuRadioButonSutunu">
                                                            <div
                                                                class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonAlani">
                                                                <label
                                                                    class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonSecenekKapsamaAlani">
                                                                    <input type="radio" name="KrediKartiMarkaSecimi"
                                                                        value="Diğer"
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonInputlari"
                                                                        checked="checked">
                                                                    <span
                                                                        class="TamSayfaCerceveAlaniIciKrediKartiMarkaSecimleriRadioButonBiçimlendirmeAlani"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MOBİL ÖDEME SEÇİLİNCE AÇILACAK OLAN ALAN-->
                        <div id="MobilOdemeIleOdemeAlani"
                            class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriMobilOdemeAlani"
                            style="display: none;">
                            <div class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriMobilOdemeBaslikAlani">
                                Mobil
                                Ödeme İle Ödeme</div>

                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriMobilOdemeAciklamaMetniAlani">
                                Lütfen ödeme işleminizde kullanmak istediğiniz
                                cep telefonu numaranızı aşağıda yer alan ilgili alana yazınız.Mobil ödeme
                                işlemlerinde
                                sadece Türk Telekom ,Türkcell ve Vodafone hatlarından işlem yapılabilinir.
                                <b> Önemli bilgilendirme:</b> Mobil ödeme ile işlem başı maksimum ödeme tutarı
                                operatörler tarafından (100 tl) ile sınırlandırılmaktadır.
                            </div>

                            <div class="TamSayfaCerceveAlaniIciMobilOdemeCepTelefonuAlani">
                                <input type="text" name="MobilOdemeGsmNo" class="FormElemanlariTextInputlari"
                                    style="text-align: center; font-weight: 600; " placeholder="Cep Telefonu">
                            </div>
                        </div>
                        <!--MOBİL ÖDEME SEÇİLİNCE AÇILACAK OLAN ALAN-->


                        <!-- Banka havalesi çeçilince AÇILACAK OLAN ALAN-->
                        <div id="BankaHavalesiIleOdemeAlani"
                            class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriBankaHavalesiAlani"
                            style="display: none;">
                            <div class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriBankaHavalesiBaslikAlani">
                                Banka Havalesi İle Ödeme</div>

                            <div
                                class="TamSayfaCerceveAlaniIciAlisverisSepetiOdemeSecimleriBankaHavalesiAciklamaMetniAlani">
                                Banka havalesi / EFT ile ürün satınalabilmek için ,
                                öncelikle alışveriş sepeti tutarını <a href="Banka-Hesaplarimiz.html"
                                    target="_top">"Banka Hesaplarımız"</a> sayfasında bulunan herhangi bir hesaba
                                ödeme
                                yaptıktan sonra,
                                <a href="Havale-Bildirim-Formu.html" target="_top">"Havale Bildirim Formu" </a>
                                sayfasındaki formu
                                doldurarak lütfen tarafımızı bilgilendiriniz.<br><br> Vereceğiniz bilgiye istinaden
                                ilgili işlem kontrol edildikten sonra, bankadan onay alınıp siparişiniz en kısa
                                sürede
                                tarafınıza kargo ile gönderilecektir.
                            </div>

                        </div>
                        <!--Banka havalesi çeçilince AÇILACAK OLAN ALAN-->
                    </div>

                    <div id="TamSayfaCerceveAlaniIciAlisverisSepetiSayfasiSagAlan">
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlani">
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniUstBaslikMetni">
                                Sipariş özeti</div>
                            <div class="TamSayfaCerceveAlaniİciAlisverisSepetiAltiCizgiliSagBaslikAlaniAltBaslikMetni">
                                Toplam 5 adet ürün.
                            </div>
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarBaslikAlani">Ödenecek Tutar
                            (KDV
                            DAHİL)</div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiOdenecekTutarRakamAlani">
                            <%=toplamFiyat%> TL
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonAlani"
                            onclick="$.AlisverisSepetiFormGonder()">
                            <span class="TamSayfaCerceveAlaniİciAlisverisSepetiSiparisOzetiIciButonuMetni">Ödemeyi
                                Tamamla</span>
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilBaslikAlani">Ürünler
                            Toplamı
                            (KDV DAHİL)</div>
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiUrunlerToplamiKdvDahilRakamAlani">1000 TL
                        </div>

                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilBaslikAlani">
                            İndirimler
                            Toplamı (KDV DAHİL)</div>
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiIndirimlerToplamiKdvDahilRakamAlani">1000
                            TL
                        </div>


                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilBaslikAlani">
                            Kargo
                            Ücreti (KDV DAHİL)</div>
                        <div class="TamSayfaCerceveAlaniİciAlisverisSepetiKargoUcretleriToplamiKdvDahilRakamAlani">
                            24.50
                            TL
                        </div>


                    </div>
                </form>

            </div>
        </div>
    </div>