<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Siparişler
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Tüm siparişlerinizi bu alandan görüntüleyebilirsiniz.
                    </div>
                </div>

                <div id="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                    <div id="TamsayfaCerceveAlaniİciHesapMenuleriDengelemeAlani">
                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/hesabim" style="color: #000;" target="_top"> Siparişler</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/yorumlarim" target="_top">Yorumlar</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">

                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/ueyelikBilgilerim" target="_top">Üyelik Bilgileri</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/adreslerim" target="_top">Adresler</a>
                                </div>
                            </div>
                        </div>


                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/favorilerim" target="_top">Favoriler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">Sipariş
                            Numarası: #45648569856</div>
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                            02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki sipariş.Detayları
                            <a href="Siparis-detay.html">göster >>></a>
                        </div>
                    </div>


                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">
                                Sipariş Numarası: #45648569856</div>
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                                02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki
                                sipariş.Detayları <a href="Siparis-detay.html">göster >>></a>
                            </div>
                        </div>


                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparislerAlani">
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisNumarasiBaslikMetniAlani">
                                Sipariş Numarası: #45648569856</div>
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiSiparisBilgiMetni">
                                02.07.2023 Çarşamba günü saat 14:32:45 tarihli 1.257,65 TL tutarındaki
                                sipariş.Detayları <a href="Siparis-detay.html">göster >>></a>
                            </div>
                        </div>
                    </div>



                    <div id="SayfalamaAlani">
                        <!--  <div id="SayfalamaAlaniIciSayfaVeKayitSayisiAlani">Toplam <b>10</b> sayfa , 54 kayıt bulunmaktadır.</div>
                                <div id="SayfalamaNumaralandirmaAlani">
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/first.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/back.png" alt="" title=""></a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">1</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">2</a></span>
                                    <span class="SayfalamaNumaralandirmaAktif"><a href="Hesabim.html" target="_top">3</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">4</a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top">5</a></span>

                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/next.png" alt="" title=""></a></span>
                                    <span class="SayfalamaNumaralandirmaPasif"><a href="Hesabim.html" target="_top"><img src="foto/last.png" alt="" title=""></a></span>
                                </div>-->
                    </div>

                </div>
            </div>
        </div>