<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Üyelik Bilgileri</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Aşağıdan üyelik bilgilerinizi görüntüleyebilir ve güncelleyebilirsiniz.</div>
                </div>
                <form action="/ueyelikBilgiGuencelle" method="post">

                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">İsim Soyisim</div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">
                        <%=curentUser.isim%>
                            <%=curentUser.soyisim%>
                    </div>

                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">E-Mail Adresi</div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">
                        <%=curentUser.email%>
                    </div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">Cep Telefonu</div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">
                        <%=curentUser.ceptelefonu%>
                    </div>

                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">E-mail İle Haberdar
                        Olma Durumu</div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">Aktif</div>

                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitBasliklarMetni">Sms İle Haberdar Olma
                        Durumu</div>
                    <div class="TamSayfaCerceveAlaniIciUyelikBilgileriSayfasiKayitIcerikleriMetni">Pasif</div>

                    <div class="ButonlarIcinKapsamaAlani"><a href="/ueyelikBilgiGuencelle"
                            style="text-decoration: none;"><span type="submit" value=""
                                class="FormElemanlariTuruncuButonlar" tabindex="6">Bilgilerimi Güncellemek
                                İstiyorum</span>
                    </div>
                </form>
            </div>

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Reklam
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com reklamları.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciReklamKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciReklamResmiAlani">
                        <!-- 552x350 -->
                        <img src="/images/reklam-comics.png" alt="" title="">
                    </div>
                </div>

            </div>
        </div>
    </div>