<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSolAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Yeni Adres Ekleme</div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Aşağıdan yeni adres ekleyebilirsiniz.</div>
                </div>
                <form action="Yeni-Adres-Ekle.html" method="post">




                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Ünvanı</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="FirmaUnvani"
                            type="text" class="FormElemanlariTextInputlari" tabindex="1"></div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Vergi Dairesi</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="FirmaVergiDairesi"
                            type="text" class="FormElemanlariTextInputlari" tabindex="2"></div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Firma Vergi Numarası</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="FirmaVergiNumarasi"
                            type="text" class="FormElemanlariTextInputlari" tabindex="3"></div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">İsim Soyisim</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="IsımSoyIsım"
                            type="text" class="FormElemanlariTextInputlari" tabindex="4"></div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Cep Telefonu</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><input name="CepTelefonu"
                            type="text" class="FormElemanlariTextInputlari" tabindex="5"></div>

                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariBaslikMetni">Adres</div>
                    <div class="TamSayfaCerceveAlaniIcinFormElemanlariIciSatirAlani"><textarea name="Mesaj"
                            class="FormElemanlariTextArealari" tabindex="4"></textarea></div>




                    <div class="ButonlarIcinKapsamaAlani"><input type="submit" value="Adresi Kaydet"
                            class="FormElemanlariYesilButonlar" tabindex="6"></div>
                </form>
            </div>

            <div id="TamSayfaCerceveAlaniIciYuzdeElliSagAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Reklam
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        vecihistore.com reklamları.
                    </div>
                </div>

                <div class="TamSayfaCerceveAlaniIciReklamKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciReklamResmiAlani">
                        <!-- 552x475 -->
                        <img src="/images/reklam-comics.png" alt="" title="">
                    </div>
                </div>

            </div>
        </div>
    </div>