<% layout('layouts/boilerplate') %>

    <div id="TamSayfaCerceveAlani">
        <div id="TamSayfaCerceveSinirlamaAlani">
            <div id="TamSayfaCerceveAlaniİciYuzdeYuzlukAlan">
                <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlani">
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniUstBaslikMetni">
                        Hesabım > Yorumlar
                    </div>
                    <div class="TamSayfaCerceveAlaniİciAltiCizgiliBaslikAlaniAltBaslikMetni">
                        Tüm yorumlarınızı bu alandan görüntüleyebilirsiniz.
                    </div>
                </div>

                <div id="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                    <div id="TamsayfaCerceveAlaniİciHesapMenuleriDengelemeAlani">
                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/hesabim" target="_top">Siparişler</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/yorumlarim" style="color: #000;  " target="_top">Yorumlar</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">

                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/ueyelikBilgilerim" target="_top">Üyelik Bilgileri</a>
                                </div>
                            </div>
                        </div>

                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/adreslerim" target="_top">Adresler</a>
                                </div>
                            </div>
                        </div>


                        <div class="TamsayfaCerceveAlaniİciHesapMenusuSinirlamaAlani">
                            <div class="TamsayfaCerceveAlaniİciHesapMenuleriAlani">
                                <div class="TamsayfaCerceveAlaniİciHesapMenulerinMetniAlani">
                                    <a href="/favorilerim" target="_top">Favoriler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarKapsamaAlani">
                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarBaslikMetniAlani">Doğa Temalı Baskı
                            T-shirt</div>
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarIcerikMetni">
                            Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim. Güzel yumuşak ve
                            kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel.
                            Çok iyi kumaşı da güzel.
                        </div>
                    </div>



                    <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarKapsamaAlani">
                        <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarAlani">
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarBaslikMetniAlani">Doğa Temalı Baskı
                                T-shirt</div>
                            <div class="TamSayfaCerceveAlaniIciHesabımSayfasiYorumlarIcerikMetni">
                                Aşırı güzel kumaşı var tavsiye ederim. Çok rahat bir ürün tavsiye ederim. Güzel yumuşak
                                ve kaliteli bir ürün teşekkürler. Aynı resimdeki gibi gayet güzel.
                                Çok iyi kumaşı da güzel.
                            </div>
                        </div>


                        <div id="SayfalamaAlani">
                            <div id="SayfalamaAlaniIciSayfaVeKayitSayisiAlani">Toplam <b>10</b> sayfa , 54 kayıt
                                bulunmaktadır.</div>
                            <div id="SayfalamaNumaralandirmaAlani">
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim" target="_top"><img
                                            src="foto/first.png" alt="" title=""></a></span>
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim" target="_top"><img
                                            src="foto/back.png" alt="" title=""></a></span>

                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim"
                                        target="_top">1</a></span>
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim"
                                        target="_top">2</a></span>
                                <span class="SayfalamaNumaralandirmaAktif"><a href="/yorumlarim"
                                        target="_top">3</a></span>
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim"
                                        target="_top">4</a></span>
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim"
                                        target="_top">5</a></span>

                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim" target="_top"><img
                                            src="foto/next.png" alt="" title=""></a></span>
                                <span class="SayfalamaNumaralandirmaPasif"><a href="/yorumlarim" target="_top"><img
                                            src="foto/last.png" alt="" title=""></a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>